# MArch MAdness Models, 2024

Data From Kaggle Competition Files

Year two of trying this. Going to use the actual evaluation Functions intead of just beating my frined's picks

### PAckages

In [2]:
import os
import pandas as pd
import numpy as np
import sklearn
import random

In [3]:
os.chdir('C:\\Users\\Nick\\Python Projects\\2024 March Madness\\MMML')

### Data Import

In [6]:
# I want Mteams, MRegularSeasonDetailedResults, MTeamConferences, MTourneyCompactResults, MTeamConferences
# MMasseyOrdinals, MTeamSpellings, 2024_tourney_seeds (not updated id bet)

MTeams = pd.read_csv('Data\\MTeams.csv')
WTeams = pd.read_csv('Data\\WTeams.csv')

MRegSeason = pd.read_csv('Data\\MRegularSeasonDetailedResults.csv')
WRegSeason = pd.read_csv('Data\\WRegularSeasonDetailedResults.csv')

MConf = pd.read_csv('Data\\MTeamConferences.csv')
WConf = pd.read_csv('Data\\WTeamConferences.csv')

MTourneyResults = pd.read_csv('Data\\MNCAATourneyCompactResults.csv')
WTourneyResults = pd.read_csv('Data\\WNCAATourneyCompactResults.csv')

#MMassey = pd.read_csv('Data\\MMasseyOrdinals.csv')

MConfTOurney = pd.read_csv('Data\\MConferenceTourneyGames.csv')

In [7]:
RegSeason = pd.concat([MRegSeason, WRegSeason], ignore_index = True)
RegSeason.head(10)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1458,81,1186,55,H,0,26,57,...,11,12,17,6,22,8,19,4,3,25
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1194,71,1156,66,N,0,28,58,...,18,12,27,13,26,13,25,8,2,18
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18

In [48]:

SeasonWins = RegSeason.groupby(['WTeamID', 'Season'])['LTeamID'].count().reset_index().rename(columns = {'LTeamID':'Wins', 'WTeamID':'TeamID'})
SeasonLs = RegSeason.groupby(['LTeamID', 'Season'])['WTeamID'].count().reset_index().rename(columns = {'WTeamID':'Losses', 'LTeamID':'TeamID'})
OpponentsW = RegSeason.groupby(['WTeamID', 'Season'])['LTeamID'].apply(list).reset_index().rename(columns = {'LTeamID':'OpponentsBeaten', 'WTeamID':'TeamID'})
OpponentsL = RegSeason.groupby(['LTeamID', 'Season'])['WTeamID'].apply(list).reset_index().rename(columns = {'WTeamID':'OpponentsLost', 'LTeamID':'TeamID'})

#Merge these Columns
merged_df = pd.merge(SeasonWins, SeasonLs, on=['TeamID', 'Season'], how='outer')

merged_df1 = pd.merge(merged_df, OpponentsW, on=['TeamID', 'Season'], how='left')

TeamRecords = pd.merge(merged_df1, OpponentsL, on=['TeamID', 'Season'], how='left')


TeamRecords

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130..."
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137..."
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117..."
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114..."
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137..."
...,...,...,...,...,...,...
12852,3421,2013,NaN,28.0,NaN,"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324..."
12853,3438,2021,NaN,5.0,NaN,"[3416, 3187, 3241, 3155, 3199]"
12854,3451,2013,NaN,29.0,NaN,"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346..."
12855,3464,2010,NaN,30.0,NaN,"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310..."
12856,3469,2021,NaN,2.0,NaN,"[3340, 3381]"

Deal With the winless and undefeated seasons

In [50]:
TeamRecords['Wins'].fillna(0, inplace = True)
TeamRecords['Losses'].fillna(0, inplace = True)

In [51]:
TeamRecords['Win_PCT'] = TeamRecords['Wins']/(TeamRecords['Wins'] + TeamRecords['Losses'])
#TeamRecords

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,Win_PCT
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.095238
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.250000
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.333333
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.360000
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.444444
...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,NaN,"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.000000
12853,3438,2021,0.0,5.0,NaN,"[3416, 3187, 3241, 3155, 3199]",0.000000
12854,3451,2013,0.0,29.0,NaN,"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.000000
12855,3464,2010,0.0,30.0,NaN,"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.000000
12856,3469,2021,0.0,2.0,NaN,"[3340, 3381]",0.000000

In [52]:
# Define a function to fill NaN values with an empty list
def fill_na_with_empty_list(value):
    if isinstance(value, float) and np.isnan(value):
        return []
    else:
        return value

# Fill NaN values with an empty list using applymap() and the defined function
TeamRecords = TeamRecords.applymap(fill_na_with_empty_list)

In [53]:
TeamRecords.isna().sum()

TeamID             0
Season             0
Wins               0
Losses             0
OpponentsBeaten    0
OpponentsLost      0
Win_PCT            0
dtype: int64

In [54]:
TeamRecords

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,Win_PCT
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.095238
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.250000
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.333333
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.360000
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.444444
...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.000000
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.000000
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.000000
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.000000
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.000000

Season stats need to be by team so I cant just group by Wteam because then I'd only have their stats from games they won. 
I also can't have Wteam columns in the game and tourney games data when I  train/make predictions. I need to somehow randomize this so sometimes Wteam is T1 and sometimes T2

In [55]:
RegSeason.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [56]:
RegSeasonSwitch = RegSeason[['Season', 'DayNum', 'LTeamID', 'LScore', 'WTeamID', 'WScore',  'WLoc',
       'NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
RegSeasonSwitch

,Season,DayNum,LTeamID,LScore,WTeamID,WScore,WLoc,NumOT,LFGM,LFGA,...,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF
0,2003,10,1328,62,1104,68,N,0,22,53,...,14,11,18,14,24,13,23,7,1,22
1,2003,10,1393,63,1272,70,N,0,24,67,...,20,10,19,15,28,16,13,4,4,18
2,2003,11,1437,61,1266,73,N,0,22,73,...,18,17,29,17,26,15,10,5,2,25
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1208,71,1400,77,N,0,24,62,...,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186657,2024,100,3427,70,3409,74,H,0,26,65,...,25,13,18,5,22,19,19,8,4,20
186658,2024,100,3161,64,3424,67,H,0,26,59,...,27,6,13,11,28,14,11,4,0,12
186659,2024,100,3296,47,3444,65,A,0,17,50,...,22,17,27,4,29,11,7,11,1,16
186660,2024,100,3347,51,3457,54,H,1,22,61,...,18,14,23,15,31,4,20,8,2,14
186661,2024,100,3460,52,3464,72,A,0,17,59,...,18,4,7,8,33,17,15,7,3,16

In [57]:
RegSeasonSwitch.loc[RegSeasonSwitch['WLoc'] == 'H', 'WLoc'] = 'A'
RegSeasonSwitch.loc[RegSeasonSwitch['WLoc'] == 'A', 'WLoc'] = 'H'
RegSeason.columns.values[6] = 'location'
RegSeasonSwitch.columns.values[6] = 'location'

RegSeason.columns = [x.replace('W','T1_').replace('L','T2_') for x in list(RegSeason.columns)]
RegSeasonSwitch.columns = [x.replace('L','T1_').replace('W','T2_') for x in list(RegSeasonSwitch.columns)]

In [58]:
RegSeason.head(15)

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1458,81,1186,55,H,0,26,57,...,11,12,17,6,22,8,19,4,3,25
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1194,71,1156,66,N,0,28,58,...,18,12,27,13,26,13,25,8,2,18
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18
10,2003,13,1166,106,1426,50,H,0,41,69,...,11,12,17,8,15,8,17,7,3,15
11,2003,13,1202,74,1106,73,N,0,29,51,...,22,5,5,13,16,15,12,6,2,12
12,2003,13,1237,66,1135,65,N,0,26,66,...,19,11,17,14,21,17,18,8,4,13
13,2003,13,1323,76,1125,48,H,0,25,56,...,24,4,8,14,26,12,17,10,0,17
14,2003,14,1125,83,1135,77,N,1,30,70,...,15,17,27,20,27,17,24,7,7,19

In [59]:
RegSeasonSwitch.head(15)

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1328,62,1104,68,N,0,22,53,...,14,11,18,14,24,13,23,7,1,22
1,2003,10,1393,63,1272,70,N,0,24,67,...,20,10,19,15,28,16,13,4,4,18
2,2003,11,1437,61,1266,73,N,0,22,73,...,18,17,29,17,26,15,10,5,2,25
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1208,71,1400,77,N,0,24,62,...,14,11,13,17,22,12,14,4,4,20
5,2003,11,1186,55,1458,81,H,0,20,46,...,12,23,27,12,24,12,9,9,3,18
6,2003,12,1236,62,1161,80,H,0,19,41,...,8,32,39,13,18,14,17,11,1,25
7,2003,12,1457,61,1186,75,N,0,20,59,...,14,15,21,13,35,19,19,7,2,21
8,2003,12,1156,66,1194,71,N,0,24,52,...,11,10,18,9,22,9,17,9,2,23
9,2003,12,1296,56,1458,84,H,0,23,52,...,17,15,19,14,22,11,6,12,0,13
10,2003,13,1426,50,1166,106,H,0,17,52,...,25,9,13,15,29,21,11,10,6,16
11,2003,13,1106,73,1202,74,N,0,29,63,...,13,9,11,6,21,18,15,7,1,5
12,2003,13,1135,65,1237,66,N,0,24,56,...,19,9,13,21,23,15,17,12,3,17
13,2003,13,1125,48,1323,76,H,0,18,64,...,23,16,23,8,35,18,13,14,19,13
14,2003,14,1135,77,1125,83,N,1,28,60,...,31,12,15,15,18,22,16,18,5,21

Looks like theyre still in order. I thought about just combining them and having 2 rows per game, but im thinking thats probably not a great idea since id be training on games that will also be in the test set, so im going to randomly select 50 percent from RegSeason where team 1 is the willer and the remaining indices will come from RegSeasonSwitch where team2 is the winner

In [60]:
RegSeason.shape

(186662, 34)

In [61]:
RegSeasonSwitch.shape

(186662, 34)

In [62]:
half = RegSeason.shape[0]//2

print(half)
np.random.seed(123)
half_indices = random.sample(list(RegSeason.index), k=half)

RegSeasonHalf = RegSeason.iloc[half_indices].sort_values(['Season', 'DayNum'])
print(RegSeasonHalf.head(20))

RegSeasonSwitchHalf = RegSeasonSwitch.drop(half_indices).sort_values(['Season', 'DayNum'])
RegSeasonSwitchHalf.head(20)

93331
     Season  DayNum  T1_TeamID  T1_Score  T2_TeamID  T2_Score location  NumOT  \
0      2003      10       1104        68       1328        62        N      0
2      2003      11       1266        73       1437        61        N      0
7      2003      12       1186        75       1457        61        N      0
9      2003      12       1458        84       1296        56        H      0
12     2003      13       1237        66       1135        65        N      0
17     2003      14       1166        82       1202        57        H      0
20     2003      14       1323        89       1237        45        H      0
14     2003      14       1125        83       1135        77        N      1
19     2003      14       1314        85       1336        55        H      0
29     2003      15       1422        84       1447        65        H      0
27     2003      15       1196        76       1256        55        H      0
32     2003      17       1196        99       1183        65        H      0
64     2003      18       1247        73       1174        56        H      0
104    2003      18       1435        80       1368        58        H      0
98     2003      18       1403        85       1423        76        H      0
80     2003      18       1328        87       1414        65        H      0
57     2003      18       1211        69       1220        61        H      0
105    2003      18       1436        71       1185        64        N      0
55     2003      18       1200        79       1456        76        A      0
103    2003      18       1428        61       1381        47        H      0

     T1_FGM  T1_FGA  ...  T2_FGA3  T2_FTM  T2_FTA  T2_OR  T2_DR  T2_Ast  \
0        27      58  ...       10      16      22     10     22       8
2        24      58  ...       26      14      23     31     22       9
7        28      62  ...       17      17      23      8     25      10
9        32      67  ...       14       7      12      9     23      10
12       26      66  ...       19      11      17     14     21      17
17       33      61  ...       11       9      14     13     23       9
20       34      62  ...       15       5      11     27     22      10
14       30      70  ...       15      17      27     20     27      17
19       32      60  ...       23      10      11     15     20       6
29       33      53  ...       25      10      16     14     15       9
27       28      48  ...        5      16      22     12     17      14
32       39      73  ...       11      17      24     15     23      15
64       25      61  ...       25       4      10     12     28      15
104      31      50  ...       18      14      22     14     15       9
98       30      60  ...       17      14      18     10     21      11
80       31      61  ...       13      11      14     11     20      16
57       23      57  ...       20       9      12     11     30      16
105      25      61  ...       22       9      11     12     24      14
55       27      55  ...       17      16      21      9     24      14
103      24      58  ...       11       9      13      9     26       8

     T2_TO  T2_Stl  T2_Blk  T2_PF
0       18       9       2     20
2       12       2       5     23
7       15      14       8     18
9       18       1       3     18
12      18       8       4     13
17      26       8       4     18
20      17       6       3     23
14      24       7       7     19
19      13       7       5     19
29      12      10       2     16
27      22       8       2     22
32      17       9       3     19
64      26      14       6     23
104     17      11       2     22
98      19       2       0     23
80      23       4       0     18
57      18       3       0     23
105     13       5       1     26
55      15       6       2     21
103     15       7       2     17

[20 rows x 34 columns]

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
1,2003,10,1393,63,1272,70,N,0,24,67,...,20,10,19,15,28,16,13,4,4,18
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1208,71,1400,77,N,0,24,62,...,14,11,13,17,22,12,14,4,4,20
5,2003,11,1186,55,1458,81,H,0,20,46,...,12,23,27,12,24,12,9,9,3,18
6,2003,12,1236,62,1161,80,H,0,19,41,...,8,32,39,13,18,14,17,11,1,25
8,2003,12,1156,66,1194,71,N,0,24,52,...,11,10,18,9,22,9,17,9,2,23
10,2003,13,1426,50,1166,106,H,0,17,52,...,25,9,13,15,29,21,11,10,6,16
11,2003,13,1106,73,1202,74,N,0,29,63,...,13,9,11,6,21,18,15,7,1,5
13,2003,13,1125,48,1323,76,H,0,18,64,...,23,16,23,8,35,18,13,14,19,13
15,2003,14,1236,71,1156,78,N,0,23,50,...,18,14,24,8,25,18,15,2,6,18
16,2003,14,1194,56,1161,81,H,0,21,65,...,12,32,43,16,32,13,24,5,3,19
18,2003,14,1129,59,1183,73,H,0,21,51,...,19,6,8,8,21,17,15,10,1,19
21,2003,14,1162,36,1353,60,H,0,12,39,...,19,10,15,15,18,10,12,14,6,18
22,2003,14,1131,57,1390,61,H,0,19,54,...,27,15,24,15,24,9,14,4,2,17
23,2003,14,1106,47,1426,59,N,0,20,60,...,5,8,12,15,32,14,16,6,4,7
24,2003,14,1389,48,1462,87,H,0,20,63,...,19,11,16,17,27,18,7,13,3,10
25,2003,15,1156,63,1161,77,H,0,23,51,...,10,18,27,18,26,15,12,5,4,21
26,2003,15,1236,86,1194,93,N,2,27,58,...,20,18,33,17,26,14,14,17,0,21
28,2003,15,1221,57,1242,81,H,0,18,52,...,5,22,37,13,29,12,19,10,3,21
30,2003,16,1353,67,1314,71,H,0,27,66,...,14,12,19,14,30,19,20,8,5,13

In [63]:
RegSeasonGames = pd.concat([RegSeasonHalf, RegSeasonSwitchHalf]).sort_index()
RegSeasonGames.head(25)

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1393,63,1272,70,N,0,24,67,...,20,10,19,15,28,16,13,4,4,18
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1208,71,1400,77,N,0,24,62,...,14,11,13,17,22,12,14,4,4,20
5,2003,11,1186,55,1458,81,H,0,20,46,...,12,23,27,12,24,12,9,9,3,18
6,2003,12,1236,62,1161,80,H,0,19,41,...,8,32,39,13,18,14,17,11,1,25
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1156,66,1194,71,N,0,24,52,...,11,10,18,9,22,9,17,9,2,23
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18
10,2003,13,1426,50,1166,106,H,0,17,52,...,25,9,13,15,29,21,11,10,6,16
11,2003,13,1106,73,1202,74,N,0,29,63,...,13,9,11,6,21,18,15,7,1,5
12,2003,13,1237,66,1135,65,N,0,26,66,...,19,11,17,14,21,17,18,8,4,13
13,2003,13,1125,48,1323,76,H,0,18,64,...,23,16,23,8,35,18,13,14,19,13
14,2003,14,1125,83,1135,77,N,1,30,70,...,15,17,27,20,27,17,24,7,7,19
15,2003,14,1236,71,1156,78,N,0,23,50,...,18,14,24,8,25,18,15,2,6,18
16,2003,14,1194,56,1161,81,H,0,21,65,...,12,32,43,16,32,13,24,5,3,19
17,2003,14,1166,82,1202,57,H,0,33,61,...,11,9,14,13,23,9,26,8,4,18
18,2003,14,1129,59,1183,73,H,0,21,51,...,19,6,8,8,21,17,15,10,1,19
19,2003,14,1314,85,1336,55,H,0,32,60,...,23,10,11,15,20,6,13,7,5,19
20,2003,14,1323,89,1237,45,H,0,34,62,...,15,5,11,27,22,10,17,6,3,23
21,2003,14,1162,36,1353,60,H,0,12,39,...,19,10,15,15,18,10,12,14,6,18
22,2003,14,1131,57,1390,61,H,0,19,54,...,27,15,24,15,24,9,14,4,2,17
23,2003,14,1106,47,1426,59,N,0,20,60,...,5,8,12,15,32,14,16,6,4,7
24,2003,14,1389,48,1462,87,H,0,20,63,...,19,11,16,17,27,18,7,13,3,10

In [64]:
RegSeasonGames.shape

(186662, 34)

## COmputing Season Stats By Team

Now to compute season averages. I Want to group by Team 1. I guess i can use a df with every game twice since theyre just averages

In [65]:
RegSeasonDouble = pd.concat([RegSeason, RegSeasonSwitch])
RegSeasonDouble.shape

(373324, 34)

In [66]:
RegSeasonDouble.columns

Index(['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID', 'T2_Score',
       'location', 'NumOT', 'T1_FGM', 'T1_FGA', 'T1_FGM3', 'T1_FGA3', 'T1_FTM',
       'T1_FTA', 'T1_OR', 'T1_DR', 'T1_Ast', 'T1_TO', 'T1_Stl', 'T1_Blk',
       'T1_PF', 'T2_FGM', 'T2_FGA', 'T2_FGM3', 'T2_FGA3', 'T2_FTM', 'T2_FTA',
       'T2_OR', 'T2_DR', 'T2_Ast', 'T2_TO', 'T2_Stl', 'T2_Blk', 'T2_PF'],
      dtype='object')

In [67]:
RegSeasonDouble.columns = [x.replace('T1_','').replace('T2_','Opp_') for x in list(RegSeasonDouble.columns)]
RegSeasonDouble.columns

Index(['Season', 'DayNum', 'TeamID', 'Score', 'Opp_TeamID', 'Opp_Score',
       'location', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3',
       'Opp_FGA3', 'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast',
       'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF'],
      dtype='object')

### Look Into Calculating some more advanced stats

Below is just very basic averages

In [85]:
RegSeasonDouble['Games'] = 1

In [86]:
StatsAvgs = RegSeasonDouble.groupby(['TeamID', 'Season'])[['Score', 'Opp_Score',
       'location','Games', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3',
       'Opp_FGA3', 'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast',
       'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF']].mean().reset_index()

In [87]:
StatsAvgs

,TeamID,Season,Score,Opp_Score,NumOT,FGM,FGA,FGM3,FGA3,FTM,...,Opp_FGA3,Opp_FTM,Opp_FTA,Opp_OR,Opp_DR,Opp_Ast,Opp_TO,Opp_Stl,Opp_Blk,Opp_PF
0,1101,2014,63.142857,78.619048,0.142857,20.333333,50.142857,6.666667,17.857143,15.809524,...,16.190476,18.333333,25.809524,10.380952,24.095238,15.571429,12.142857,7.000000,5.000000,18.666667
1,1101,2015,61.000000,71.857143,0.000000,21.428571,52.928571,7.250000,19.178571,10.892857,...,16.714286,15.607143,22.714286,10.035714,25.892857,12.928571,13.464286,5.857143,4.250000,16.535714
2,1101,2016,69.851852,76.259259,0.074074,23.814815,53.925926,6.851852,18.851852,15.370370,...,15.148148,17.703704,24.962963,8.592593,25.222222,12.851852,13.444444,5.111111,3.296296,19.666667
3,1101,2017,67.880000,72.640000,0.160000,24.440000,53.320000,7.080000,19.080000,11.920000,...,19.600000,15.880000,23.800000,10.640000,25.040000,13.600000,14.800000,6.040000,3.160000,17.240000
4,1101,2018,70.666667,72.814815,0.037037,25.518519,56.481481,6.481481,19.962963,13.148148,...,19.740741,16.629630,23.444444,9.925926,25.037037,12.037037,15.481481,6.518519,2.925926,17.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3476,2023,59.178571,65.428571,0.035714,21.571429,55.821429,6.178571,20.250000,9.857143,...,15.821429,10.071429,14.464286,8.785714,22.964286,11.785714,11.214286,7.892857,3.214286,16.142857
12853,3476,2024,51.391304,69.086957,0.000000,18.304348,55.565217,5.478261,20.173913,9.304348,...,18.086957,9.434783,14.347826,11.434783,24.739130,14.217391,14.043478,11.565217,3.434783,16.608696
12854,3477,2023,64.625000,69.625000,0.031250,22.937500,58.218750,3.656250,14.250000,15.093750,...,19.781250,10.281250,14.625000,9.593750,23.406250,15.437500,15.781250,9.000000,4.062500,18.562500
12855,3477,2024,68.000000,75.600000,0.050000,24.500000,66.350000,7.000000,21.600000,12.000000,...,19.450000,13.900000,19.250000,11.900000,31.000000,13.850000,13.400000,6.650000,3.800000,16.300000
12856,3478,2024,55.782609,64.739130,0.043478,20.260870,57.000000,4.913043,17.347826,10.347826,...,21.869565,9.130435,13.695652,11.652174,23.956522,15.434783,15.565217,8.130435,3.130435,15.130435

In [89]:
StatsTotals = RegSeasonDouble.groupby(['TeamID', 'Season'])[['Score', 'Opp_Score',
       'location', 'Games', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3',
       'Opp_FGA3', 'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast',
       'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF']].sum().reset_index()
StatsTotals

,TeamID,Season,Score,Opp_Score,Games,NumOT,FGM,FGA,FGM3,FGA3,...,Opp_FGA3,Opp_FTM,Opp_FTA,Opp_OR,Opp_DR,Opp_Ast,Opp_TO,Opp_Stl,Opp_Blk,Opp_PF
0,1101,2014,1326,1651,21,3,427,1053,140,375,...,340,385,542,218,506,327,255,147,105,392
1,1101,2015,1708,2012,28,0,600,1482,203,537,...,468,437,636,281,725,362,377,164,119,463
2,1101,2016,1886,2059,27,2,643,1456,185,509,...,409,478,674,232,681,347,363,138,89,531
3,1101,2017,1697,1816,25,4,611,1333,177,477,...,490,397,595,266,626,340,370,151,79,431
4,1101,2018,1908,1966,27,1,689,1525,175,539,...,533,449,633,268,676,325,418,176,79,477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3476,2023,1657,1832,28,1,604,1563,173,567,...,443,282,405,246,643,330,314,221,90,452
12853,3476,2024,1182,1589,23,0,421,1278,126,464,...,416,217,330,263,569,327,323,266,79,382
12854,3477,2023,2068,2228,32,1,734,1863,117,456,...,633,329,468,307,749,494,505,288,130,594
12855,3477,2024,1360,1512,20,1,490,1327,140,432,...,389,278,385,238,620,277,268,133,76,326
12856,3478,2024,1283,1489,23,1,466,1311,113,399,...,503,210,315,268,551,355,358,187,72,348

In [102]:
StatsTotals['FG_PCT'] = StatsTotals['FGM']/StatsTotals['FGA']
StatsTotals['FG_PCT3'] = StatsTotals['FGM3']/StatsTotals['FGA3']
StatsTotals['FT_PCT'] = StatsTotals['FTM']/StatsTotals['FTA']

StatsTotals['Opp_FG_PCT'] = StatsTotals['Opp_FGM']/StatsTotals['Opp_FGA']
StatsTotals['Opp_FG_PCT3'] = StatsTotals['Opp_FGM3']/StatsTotals['Opp_FGA3']
StatsTotals['Opp_FT_PCT'] = StatsTotals['Opp_FTM']/StatsTotals['Opp_FTA']

#A possesion can only end with a shot, turnover, foul (free trhrows) i think. We consider an offensive rebound a continuation of that possesion
StatsTotals['POSS'] = StatsTotals['FGA']+StatsTotals['TO']+(StatsTotals['FTA']//2)-StatsTotals['OR']
StatsTotals['POSS_PER_GAME'] = StatsTotals['POSS']/StatsTotals['Games']

# THeoretically opponent POSS should only differer by 1 or 2 at most, but since Im calculating it in kind of a janky way, I want to see how much difference there is.
StatsTotals['Opp_POSS'] = StatsTotals['Opp_FGA']+StatsTotals['Opp_TO']+(StatsTotals['Opp_FTA']//2)-StatsTotals['Opp_OR']
StatsTotals['Opp_POSS_PER_GAME'] = StatsTotals['Opp_POSS']/StatsTotals['Games']

StatsTotals['POSS_Diff'] = (StatsTotals['POSS'] -StatsTotals['Opp_POSS'])/StatsTotals['Games'] 
 
StatsTotals.sort_values('POSS_Diff').loc[StatsTotals.Season == 2024].tail(25)#['OFF_RTG'] = StatsTotals['Points']/StatsTotals['FTA']

,TeamID,Season,Score,Opp_Score,Games,NumOT,FGM,FGA,FGM3,FGA3,...,FG_PCT3,FT_PCT,Opp_FG_PCT,Opp_FG_PCT3,Opp_FT_PCT,POSS,POSS_PER_GAME,Opp_POSS,Opp_POSS_PER_GAME,POSS_Diff
4090,1298,2024,1501,1591,23,2,520,1348,127,449,...,0.282851,0.706131,0.455000,0.342412,0.711454,1586,68.956522,1556,67.652174,1.304348
11272,3357,2024,1389,1329,22,2,510,1314,120,424,...,0.283019,0.676630,0.416457,0.288952,0.709970,1571,71.409091,1542,70.090909,1.318182
7607,1473,2024,1383,1615,22,1,467,1206,100,360,...,0.277778,0.736287,0.460184,0.368889,0.717791,1543,70.136364,1514,68.818182,1.318182
10,1101,2024,1549,1663,22,3,533,1300,114,348,...,0.327586,0.726378,0.466238,0.337531,0.705545,1653,75.136364,1623,73.772727,1.363636
8763,3184,2024,1512,1448,22,0,541,1347,125,384,...,0.325521,0.714286,0.416134,0.320513,0.711392,1685,76.590909,1655,75.227273,1.363636
1911,1194,2024,2003,1734,24,5,718,1497,214,585,...,0.365812,0.720408,0.435342,0.332075,0.719577,1756,73.166667,1723,71.791667,1.375000
710,1138,2024,1530,1838,23,1,567,1386,158,596,...,0.265101,0.687861,0.483803,0.362348,0.721519,1666,72.434783,1634,71.043478,1.391304
9092,3206,2024,1633,1328,23,0,572,1428,156,489,...,0.319018,0.728665,0.377049,0.267261,0.661202,1695,73.695652,1663,72.304348,1.391304
7867,3119,2024,1159,1300,20,0,425,1159,93,344,...,0.270349,0.701299,0.454294,0.319865,0.719870,1400,70.000000,1372,68.600000,1.400000
7762,3111,2024,1714,1693,24,1,595,1521,166,544,...,0.305147,0.671670,0.410847,0.309645,0.731161,1934,80.583333,1900,79.166667,1.416667
10556,3308,2024,1260,1266,21,2,469,1189,97,298,...,0.325503,0.685976,0.410441,0.271003,0.663185,1503,71.571429,1473,70.142857,1.428571
12225,3421,2024,1306,1401,23,1,482,1359,93,391,...,0.237852,0.676630,0.390661,0.301980,0.669100,1647,71.608696,1614,70.173913,1.434783
9182,3212,2024,1295,1318,19,3,452,1220,99,342,...,0.289474,0.715686,0.393170,0.342784,0.683333,1556,81.894737,1528,80.421053,1.473684
10629,3313,2024,1384,1183,21,1,516,1294,112,365,...,0.306849,0.727273,0.385496,0.314815,0.688761,1502,71.523810,1470,70.000000,1.523810
10469,3301,2024,1839,1426,24,1,665,1510,158,461,...,0.342733,0.750000,0.348387,0.285448,0.762846,1824,76.000000,1786,74.416667,1.583333
8868,3191,2024,1469,1883,23,3,496,1398,113,432,...,0.261574,0.701349,0.466398,0.301843,0.725100,1877,81.608696,1840,80.000000,1.608696
2757,1235,2024,1886,1488,24,0,674,1415,160,451,...,0.354767,0.694853,0.402755,0.338710,0.714286,1705,71.041667,1665,69.375000,1.666667
120,1106,2024,1385,1505,21,1,487,1338,142,487,...,0.291581,0.709763,0.425087,0.327935,0.721022,1542,73.428571,1506,71.714286,1.714286
10569,3309,2024,1396,1543,23,1,493,1417,86,323,...,0.266254,0.720000,0.392241,0.303030,0.752500,1801,78.304348,1761,76.565217,1.739130
12630,3452,2024,1865,1349,24,0,675,1457,175,516,...,0.339147,0.693878,0.385408,0.274074,0.711230,1827,76.125000,1783,74.291667,1.833333
8060,3135,2024,1205,1220,20,0,434,1156,136,486,...,0.279835,0.679054,0.396581,0.320809,0.701550,1431,71.550000,1393,69.650000,1.900000
9978,3267,2024,1695,1516,21,0,586,1417,210,636,...,0.330189,0.665957,0.452964,0.309278,0.649652,1736,82.666667,1691,80.523810,2.142857
8377,3158,2024,1435,1274,20,1,502,1322,156,457,...,0.341357,0.697970,0.390701,0.279070,0.628205,1574,78.700000,1531,76.550000,2.150000
1499,1175,2024,1416,1520,21,5,505,1223,82,296,...,0.277027,0.705882,0.450813,0.375810,0.685446,1557,74.142857,1502,71.523810,2.619048
11287,3358,2024,1221,1400,19,2,393,1191,97,362,...,0.267956,0.688391,0.462752,0.355556,0.676385,1549,81.526316,1497,78.789474,2.736842

In [83]:
StatsTotals.columns

Index(['TeamID', 'Season', 'Score', 'Opp_Score', 'NumOT', 'FGM', 'FGA', 'FGM3',
       'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF',
       'Opp_FGM', 'Opp_FGA', 'Opp_FGM3', 'Opp_FGA3', 'Opp_FTM', 'Opp_FTA',
       'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF',
       'FG_PCT', 'FG_PCT3', 'FT_PCT', 'Opp_FG_PCT', 'Opp_FG_PCT3',
       'Opp_FT_PCT'],
      dtype='object')

Games Data Doesnt need the stats anymore

In [70]:
RegSeasonGames.columns

Index(['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID', 'T2_Score',
       'location', 'NumOT', 'T1_FGM', 'T1_FGA', 'T1_FGM3', 'T1_FGA3', 'T1_FTM',
       'T1_FTA', 'T1_OR', 'T1_DR', 'T1_Ast', 'T1_TO', 'T1_Stl', 'T1_Blk',
       'T1_PF', 'T2_FGM', 'T2_FGA', 'T2_FGM3', 'T2_FGA3', 'T2_FTM', 'T2_FTA',
       'T2_OR', 'T2_DR', 'T2_Ast', 'T2_TO', 'T2_Stl', 'T2_Blk', 'T2_PF'],
      dtype='object')

In [71]:
RegSeasonGame = RegSeasonGames[['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID', 'T2_Score',
       'location']]
RegSeasonGame

        Season  DayNum  T1_TeamID  T1_Score  T2_TeamID  T2_Score location
0         2003      10       1104        68       1328        62        N
1         2003      10       1393        63       1272        70        N
2         2003      11       1266        73       1437        61        N
3         2003      11       1457        50       1296        56        N
4         2003      11       1208        71       1400        77        N
...        ...     ...        ...       ...        ...       ...      ...
186657    2024     100       3409        74       3427        70        H
186658    2024     100       3161        64       3424        67        H
186659    2024     100       3296        47       3444        65        H
186660    2024     100       3457        54       3347        51        H
186661    2024     100       3464        72       3460        52        A

[186662 rows x 7 columns]

Eventually ill Have to merge the RegSeasonGame with that teams season stats, I want to make some more advanced stats frist though
When I merge, Remember column names will ahve to be the same whcih will probably involve making 2 identical datasets out of the Stats Df, only differnce being the column names where 'TeamId' will become 'T1_TeamID' in one and 'T2_TeamID' in the other. All other columns will change similarly. For instance, 'Opp_FGM" becomes 'T1_Opp_FGM'

Also Ill have to do the same for tourney games and conference tourney games

I can already merge GameRecords and Stats

In [72]:
TeamRecords.shape

(12857, 7)

In [73]:
Stats.shape

(12857, 31)

In [74]:
pd.merge(Stats, TeamRecords, 'left')

,TeamID,Season,Score,Opp_Score,NumOT,FGM,FGA,FGM3,FGA3,FTM,...,Opp_Ast,Opp_TO,Opp_Stl,Opp_Blk,Opp_PF,Wins,Losses,OpponentsBeaten,OpponentsLost,Win_PCT
0,1101,2014,63.142857,78.619048,0.142857,20.333333,50.142857,6.666667,17.857143,15.809524,...,15.571429,12.142857,7.000000,5.000000,18.666667,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.095238
1,1101,2015,61.000000,71.857143,0.000000,21.428571,52.928571,7.250000,19.178571,10.892857,...,12.928571,13.464286,5.857143,4.250000,16.535714,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.250000
2,1101,2016,69.851852,76.259259,0.074074,23.814815,53.925926,6.851852,18.851852,15.370370,...,12.851852,13.444444,5.111111,3.296296,19.666667,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.333333
3,1101,2017,67.880000,72.640000,0.160000,24.440000,53.320000,7.080000,19.080000,11.920000,...,13.600000,14.800000,6.040000,3.160000,17.240000,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.360000
4,1101,2018,70.666667,72.814815,0.037037,25.518519,56.481481,6.481481,19.962963,13.148148,...,12.037037,15.481481,6.518519,2.925926,17.666667,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3476,2023,59.178571,65.428571,0.035714,21.571429,55.821429,6.178571,20.250000,9.857143,...,11.785714,11.214286,7.892857,3.214286,16.142857,8.0,20.0,"[3216, 3306, 3136, 3148, 3254, 3383, 3148, 3447]","[3250, 3344, 3138, 3193, 3436, 3324, 3221, 310...",0.285714
12853,3476,2024,51.391304,69.086957,0.000000,18.304348,55.565217,5.478261,20.173913,9.304348,...,14.217391,14.043478,11.565217,3.434783,16.608696,3.0,20.0,"[3192, 3447, 3384]","[3318, 3177, 3250, 3136, 3138, 3310, 3469, 322...",0.130435
12854,3477,2023,64.625000,69.625000,0.031250,22.937500,58.218750,3.656250,14.250000,15.093750,...,15.437500,15.781250,9.000000,4.062500,18.562500,13.0,19.0,"[3225, 3230, 3311, 3270, 3223, 3249, 3309, 322...","[3426, 3222, 3374, 3307, 3381, 3469, 3280, 313...",0.406250
12855,3477,2024,68.000000,75.600000,0.050000,24.500000,66.350000,7.000000,21.600000,12.000000,...,13.850000,13.400000,6.650000,3.800000,16.300000,9.0,11.0,"[3469, 3225, 3381, 3270, 3223, 3249, 3311, 327...","[3307, 3403, 3450, 3222, 3401, 3309, 3230, 336...",0.450000
12856,3478,2024,55.782609,64.739130,0.043478,20.260870,57.000000,4.913043,17.347826,10.347826,...,15.434783,15.565217,8.130435,3.130435,15.130435,10.0,13.0,"[3262, 3138, 3192, 3467, 3357, 3148, 3467, 325...","[3161, 3160, 3392, 3425, 3131, 3350, 3433, 315...",0.434783