# MArch MAdness Models, 2024

Data From Kaggle Competition Files

Year two of trying this. Going to use the actual evaluation Functions intead of just beating my frined's picks

### PAckages

In [2]:
import os
import pandas as pd
import numpy as np
import sklearn
import random
import time

In [3]:
os.chdir('C:\\Users\\Nick\\Python Projects\\2024 March Madness\\MMML')

### Data Import

In [7]:
# I want Mteams, MRegularSeasonDetailedResults, MTeamConferences, MTourneyCompactResults, MTeamConferences
# MMasseyOrdinals, MTeamSpellings, 2024_tourney_seeds (not updated id bet)

MTeams = pd.read_csv('Data\\MTeams.csv')
WTeams = pd.read_csv('Data\\WTeams.csv')

MRegSeason = pd.read_csv('Data\\MRegularSeasonDetailedResults.csv')
WRegSeason = pd.read_csv('Data\\WRegularSeasonDetailedResults.csv')

MConf = pd.read_csv('Data\\MTeamConferences.csv')
WConf = pd.read_csv('Data\\WTeamConferences.csv')

MTourneyResults = pd.read_csv('Data\\MNCAATourneyCompactResults.csv')
WTourneyResults = pd.read_csv('Data\\WNCAATourneyCompactResults.csv')

#MMassey = pd.read_csv('Data\\MMasseyOrdinals.csv')

MConfTOurney = pd.read_csv('Data\\MConferenceTourneyGames.csv')

In [8]:
RegSeason = pd.concat([MRegSeason, WRegSeason], ignore_index = True)
RegSeason.head(10)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1458,81,1186,55,H,0,26,57,...,11,12,17,6,22,8,19,4,3,25
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1194,71,1156,66,N,0,28,58,...,18,12,27,13,26,13,25,8,2,18
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18

In [12]:

SeasonWins = RegSeason.groupby(['WTeamID', 'Season'])['LTeamID'].count().reset_index().rename(columns = {'LTeamID':'Wins', 'WTeamID':'TeamID'})
SeasonLs = RegSeason.groupby(['LTeamID', 'Season'])['WTeamID'].count().reset_index().rename(columns = {'WTeamID':'Losses', 'LTeamID':'TeamID'})
OpponentsW = RegSeason.groupby(['WTeamID', 'Season'])['LTeamID'].apply(list).reset_index().rename(columns = {'LTeamID':'OpponentsBeaten', 'WTeamID':'TeamID'})
OpponentsL = RegSeason.groupby(['LTeamID', 'Season'])['WTeamID'].apply(list).reset_index().rename(columns = {'WTeamID':'OpponentsLost', 'LTeamID':'TeamID'})


ConfSeasonWins = MConfTOurney.groupby(['WTeamID', 'Season'])['LTeamID'].count().reset_index().rename(columns = {'LTeamID':'ConfWins', 'WTeamID':'TeamID'})
ConfSeasonLs = MConfTOurney.groupby(['LTeamID', 'Season'])['WTeamID'].count().reset_index().rename(columns = {'WTeamID':'ConfLosses', 'LTeamID':'TeamID'})
ConfOpponentsW = MConfTOurney.groupby(['WTeamID', 'Season'])['LTeamID'].apply(list).reset_index().rename(columns = {'LTeamID':'ConfOpponentsBeaten', 'WTeamID':'TeamID'})
ConfOpponentsL = MConfTOurney.groupby(['LTeamID', 'Season'])['WTeamID'].apply(list).reset_index().rename(columns = {'WTeamID':'ConfOpponentsLost', 'LTeamID':'TeamID'})


#Merge these Columns
merged_df = pd.merge(SeasonWins, SeasonLs, on=['TeamID', 'Season'], how='outer')

merged_df1 = pd.merge(merged_df, OpponentsW, on=['TeamID', 'Season'], how='left')

merged_df2 = pd.merge(merged_df1, OpponentsL, on=['TeamID', 'Season'], how='left')

merged_df3 = pd.merge(merged_df2, ConfSeasonWins, on=['TeamID', 'Season'], how='left')
merged_df4 = pd.merge(merged_df3, ConfOpponentsW, on=['TeamID', 'Season'], how='left')
merged_df5 = pd.merge(merged_df4, ConfOpponentsL, on=['TeamID', 'Season'], how='left')
TeamRecords = pd.merge(merged_df5, ConfSeasonLs, on=['TeamID', 'Season'], how='left')



TeamRecords.head(50)

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",NaN,NaN,NaN,NaN
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",NaN,NaN,NaN,NaN
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",NaN,NaN,NaN,NaN
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",NaN,NaN,NaN,NaN
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",NaN,NaN,NaN,NaN
5,1101,2019,23.0,6.0,"[1117, 1176, 1189, 1334, 1415, 1144, 1369, 130...","[1337, 1403, 1358, 1372, 1358, 1368]",2.0,"[1368, 1309]",NaN,NaN
6,1101,2020,16.0,11.0,"[1369, 1309, 1311, 1249, 1394, 1368, 1146, 123...","[1180, 1337, 1424, 1402, 1374, 1455, 1270, 135...",NaN,NaN,NaN,NaN
7,1101,2021,19.0,4.0,"[1190, 1122, 1303, 1470, 1249, 1223, 1368, 114...","[1403, 1116, 1358, 1146]",2.0,"[1249, 1311]",NaN,NaN
8,1101,2022,19.0,10.0,"[1426, 1230, 1180, 1167, 1255, 1430, 1469, 146...","[1428, 1401, 1372, 1358, 1213, 1308, 1370, 135...",3.0,"[1430, 1372, 1370]",[1308],1.0
9,1101,2023,9.0,17.0,"[1238, 1319, 1477, 1167, 1470, 1426, 1469, 137...","[1401, 1460, 1451, 1415, 1243, 1372, 1381, 141...",NaN,NaN,[1465],1.0
10,1101,2024,14.0,17.0,"[1329, 1363, 1200, 1431, 1410, 1426, 1469, 141...","[1301, 1341, 1283, 1426, 1372, 1319, 1116, 144...",NaN,NaN,[1372],1.0
11,1102,2003,12.0,16.0,"[1391, 1117, 1410, 1204, 1125, 1431, 1204, 129...","[1257, 1399, 1324, 1412, 1361, 1161, 1461, 142...",NaN,NaN,[1428],1.0
12,1102,2004,22.0,6.0,"[1115, 1298, 1394, 1149, 1341, 1143, 1454, 136...","[1125, 1120, 1424, 1410, 1140, 1161]",NaN,NaN,[1161],1.0
13,1102,2005,17.0,12.0,"[1240, 1279, 1108, 1236, 1294, 1353, 1298, 141...","[1266, 1454, 1210, 1249, 1234, 1388, 1428, 146...",NaN,NaN,[1361],1.0
14,1102,2006,22.0,6.0,"[1319, 1274, 1298, 1115, 1410, 1294, 1388, 124...","[1449, 1461, 1307, 1140, 1361, 1461]",NaN,NaN,[1461],1.0
15,1102,2007,22.0,8.0,"[1115, 1253, 1390, 1160, 1403, 1347, 1448, 123...","[1181, 1428, 1140, 1361, 1424, 1395, 1140, 1461]",NaN,NaN,[1461],1.0
16,1102,2008,14.0,14.0,"[1171, 1294, 1347, 1290, 1341, 1313, 1424, 146...","[1285, 1450, 1160, 1296, 1448, 1428, 1307, 114...",NaN,NaN,[1361],1.0
17,1102,2009,8.0,21.0,"[1167, 1313, 1296, 1294, 1410, 1411, 1171, 1161]","[1459, 1390, 1339, 1392, 1361, 1307, 1428, 139...",1.0,[1161],[1140],1.0
18,1102,2010,8.0,21.0,"[1149, 1300, 1341, 1413, 1310, 1410, 1461, 1461]","[1294, 1283, 1450, 1319, 1431, 1395, 1161, 114...",1.0,[1461],[1307],1.0
19,1102,2011,14.0,14.0,"[1398, 1459, 1169, 1191, 1300, 1115, 1358, 119...","[1460, 1319, 1431, 1140, 1424, 1361, 1161, 130...",NaN,NaN,[1424],1.0
20,1102,2012,11.0,16.0,"[1119, 1440, 1460, 1115, 1271, 1185, 1152, 141...","[1160, 1179, 1211, 1447, 1461, 1361, 1395, 142...",NaN,NaN,[1307],1.0
21,1102,2013,15.0,13.0,"[1119, 1154, 1286, 1238, 1115, 1415, 1305, 112...","[1160, 1455, 1196, 1350, 1424, 1161, 1307, 130...",NaN,NaN,[1424],1.0
22,1102,2014,10.0,18.0,"[1119, 1115, 1377, 1415, 1429, 1424, 1363, 136...","[1440, 1238, 1350, 1160, 1413, 1201, 1361, 116...",NaN,NaN,[1201],1.0
23,1102,2015,12.0,17.0,"[1154, 1212, 1303, 1115, 1240, 1363, 1363, 130...","[1119, 1160, 1403, 1413, 1361, 1305, 1161, 130...",1.0,[1307],[1129],1.0
24,1102,2016,12.0,18.0,"[1399, 1290, 1352, 1308, 1154, 1176, 1413, 136...","[1356, 1160, 1326, 1119, 1461, 1305, 1429, 142...",NaN,NaN,[1424],1.0
25,1102,2017,10.0,21.0,"[1239, 1197, 1391, 1283, 1413, 1429, 1201, 136...","[1103, 1187, 1308, 1119, 1176, 1160, 1461, 116...",1.0,[1461],[1161],1.0
26,1102,2018,10.0,19.0,"[1402, 1145, 1115, 1176, 1363, 1161, 1161, 130...","[1334, 1160, 1232, 1101, 1415, 1119, 1307, 120...",NaN,NaN,[1424],1.0
27,1102,2019,13.0,18.0,"[1377, 1283, 1176, 1415, 1361, 1424, 1129, 136...","[1402, 1420, 1219, 1160, 1334, 1119, 1276, 130...",1.0,[1363],[1201],1.0
28,1102,2020,11.0,20.0,"[1402, 1119, 1238, 1461, 1176, 1415, 1429, 112...","[1226, 1395, 1258, 1182, 1232, 1305, 1179, 142...",1.0,[1201],[1361],1.0
29,1102,2021,5.0,20.0,"[1169, 1249, 1305, 1461, 1307]","[1370, 1179, 1305, 1429, 1429, 1129, 1129, 146...",NaN,NaN,[1424],1.0
30,1102,2022,11.0,18.0,"[1409, 1411, 1221, 1126, 1176, 1226, 1119, 142...","[1377, 1285, 1117, 1470, 1161, 1305, 1129, 116...",NaN,NaN,[1429],1.0
31,1102,2023,14.0,18.0,"[1174, 1367, 1290, 1285, 1115, 1377, 1117, 147...","[1132, 1477, 1339, 1340, 1361, 1305, 1429, 136...",NaN,NaN,[1424],1.0
32,1102,2024,9.0,22.0,"[1254, 1473, 1456, 1303, 1440, 1377, 1339, 142...","[1340, 1174, 1186, 1426, 1294, 1429, 1305, 136...",NaN,NaN,[1307],1.0
33,1103,2003,13.0,14.0,"[1324, 1233, 1347, 1214, 1123, 1138, 1296, 118...","[1460, 1156, 1241, 1310, 1325, 1132, 1275, 124...",NaN,NaN,[1325],1.0
34,1103,2004,13.0,15.0,"[1347, 1214, 1241, 1182, 1156, 1460, 1296, 132...","[1153, 1314, 1444, 1275, 1132, 1405, 1138, 124...",NaN,NaN,[1123],1.0
35,1103,2005,18.0,10.0,"[1214, 1182, 1156, 1460, 1324, 1325, 1138, 118...","[1179, 1296, 1173, 1405, 1444, 1275, 1245, 124...",1.0,[1185],[1444],1.0
36,1103,2006,21.0,9.0,"[1464, 1182, 1291, 1280, 1460, 1123, 1405, 144...","[1143, 1257, 1155, 1325, 1245, 1305, 1275, 113...",1.0,[1444],[1405],1.0
37,1103,2007,25.0,7.0,"[1205, 1310, 1331, 1127, 1445, 1384, 1258, 146...","[1114, 1227, 1305, 1325, 1405, 1275, 1275]",2.0,"[1141, 1245]",[1275],1.0
38,1103,2008,23.0,10.0,"[1367, 1398, 1127, 1396, 1461, 1300, 1122, 129...","[1340, 1457, 1173, 1245, 1141, 1444, 1296, 143...",2.0,"[1141, 1444]",[1245],1.0
39,1103,2009,22.0,12.0,"[1145, 1457, 1192, 1310, 1299, 1383, 1422, 113...","[1338, 1184, 1173, 1433, 1348, 1275, 1138, 132...",4.0,"[1405, 1275, 1132, 1138]",NaN,NaN
40,1103,2010,23.0,10.0,"[1179, 1224, 1115, 1310, 1422, 1384, 1227, 143...","[1122, 1301, 1401, 1348, 1138, 1245, 1185, 143...",2.0,"[1185, 1444]",[1325],1.0
41,1103,2011,22.0,12.0,"[1464, 1178, 1227, 1126, 1114, 1391, 1115, 133...","[1173, 1156, 1396, 1278, 1274, 1325, 1138, 127...",4.0,"[1185, 1275, 1444, 1245]",NaN,NaN
42,1103,2012,21.0,11.0,"[1280, 1178, 1115, 1197, 1464, 1299, 1267, 127...","[1434, 1182, 1452, 1292, 1156, 1433, 1138, 133...",1.0,[1245],[1325],1.0
43,1103,2013,25.0,6.0,"[1421, 1336, 1292, 1115, 1156, 1411, 1343, 116...","[1157, 1329, 1166, 1178, 1138, 1245]",2.0,"[1245, 1325]",NaN,NaN
44,1103,2014,21.0,12.0,"[1157, 1156, 1126, 1331, 1178, 1333, 1164, 126...","[1388, 1292, 1235, 1376, 1376, 1405, 1245, 144...",1.0,[1325],[1444],1.0
45,1103,2015,20.0,14.0,"[1420, 1425, 1376, 1136, 1115, 1442, 1267, 116...","[1274, 1336, 1292, 1295, 1405, 1296, 1325, 118...",3.0,"[1296, 1444, 1245]",[1138],1.0
46,1103,2016,25.0,8.0,"[1156, 1116, 1149, 1164, 1267, 1126, 1364, 123...","[1437, 1453, 1141, 1405, 1296, 1245, 1275, 1138]",2.0,"[1185, 1132]",[1138],1.0
47,1103,2017,25.0,8.0,"[1110, 1347, 1204, 1102, 1273, 1164, 1267, 141...","[1464, 1166, 1211, 1325, 1245, 1132, 1275, 1245]",2.0,"[1185, 1123]",[1245],1.0
48,1103,2018,13.0,18.0,"[1156, 1404, 1151, 1236, 1111, 1290, 1132, 129...","[1173, 1267, 1425, 1343, 1172, 1444, 1405, 113...",1.0,[1444],[1185],1.0
49,1103,2019,15.0,16.0,"[1464, 1152, 1382, 1106, 1178, 1398, 1444, 118...","[1155, 1229, 1236, 1267, 1305, 1141, 1296, 127...",1.0,[1275],[1138],1.0

Deal With the winless and undefeated seasons

In [18]:
TeamRecords['Wins'].fillna(0, inplace = True)
TeamRecords['Losses'].fillna(0, inplace = True)
TeamRecords['ConfWins'].fillna(0, inplace = True)
TeamRecords['ConfLosses'].fillna(0, inplace = True)

In [19]:
TeamRecords['Win_PCT'] = (TeamRecords['Wins']+TeamRecords['ConfWins'])/(TeamRecords['Wins'] + TeamRecords['Losses']+TeamRecords['ConfWins'] + TeamRecords['ConfLosses'])
#TeamRecords

In [20]:
# Define a function to fill NaN values with an empty list
def fill_na_with_empty_list(value):
    if isinstance(value, float) and np.isnan(value):
        return []
    else:
        return value

# Fill NaN values with an empty list using applymap() and the defined function
TeamRecords = TeamRecords.applymap(fill_na_with_empty_list)

In [21]:
TeamRecords.isna().sum()

TeamID                 0
Season                 0
Wins                   0
Losses                 0
OpponentsBeaten        0
OpponentsLost          0
ConfWins               0
ConfOpponentsBeaten    0
ConfOpponentsLost      0
ConfLosses             0
Win_PCT                0
dtype: int64

In [22]:
TeamRecords

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,Win_PCT
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,0.095238
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,0.250000
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,0.333333
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,0.360000
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,0.444444
...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,0.000000
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,0.000000
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,0.000000
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,0.000000
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,0.000000

Season stats need to be by team so I cant just group by Wteam because then I'd only have their stats from games they won. 
I also can't have Wteam columns in the game and tourney games data when I  train/make predictions. I need to somehow randomize this so sometimes Wteam is T1 and sometimes T2

In [23]:
RegSeason.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [24]:
RegSeasonSwitch = RegSeason[['Season', 'DayNum', 'LTeamID', 'LScore', 'WTeamID', 'WScore',  'WLoc',
       'NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
RegSeasonSwitch

,Season,DayNum,LTeamID,LScore,WTeamID,WScore,WLoc,NumOT,LFGM,LFGA,...,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF
0,2003,10,1328,62,1104,68,N,0,22,53,...,14,11,18,14,24,13,23,7,1,22
1,2003,10,1393,63,1272,70,N,0,24,67,...,20,10,19,15,28,16,13,4,4,18
2,2003,11,1437,61,1266,73,N,0,22,73,...,18,17,29,17,26,15,10,5,2,25
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1208,71,1400,77,N,0,24,62,...,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189433,2024,131,3372,74,3465,75,N,0,27,65,...,24,20,25,7,30,13,11,7,4,15
189434,2024,132,3283,75,3179,76,N,0,31,69,...,17,17,17,7,18,16,19,9,3,11
189435,2024,132,3392,60,3180,68,N,0,19,62,...,19,11,14,6,22,17,21,9,4,21
189436,2024,132,3131,55,3221,61,H,0,21,49,...,26,17,25,12,22,10,10,6,3,12
189437,2024,132,3478,48,3357,69,H,0,17,58,...,22,12,17,14,29,17,19,9,4,14

In [25]:
RegSeasonSwitch.loc[RegSeasonSwitch['WLoc'] == 'H', 'WLoc'] = 'A'
RegSeasonSwitch.loc[RegSeasonSwitch['WLoc'] == 'A', 'WLoc'] = 'H'
RegSeason.columns.values[6] = 'location'
RegSeasonSwitch.columns.values[6] = 'location'

RegSeason.columns = [x.replace('W','T1_').replace('L','T2_') for x in list(RegSeason.columns)]
RegSeasonSwitch.columns = [x.replace('L','T1_').replace('W','T2_') for x in list(RegSeasonSwitch.columns)]

In [26]:
RegSeason.head(15)

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1458,81,1186,55,H,0,26,57,...,11,12,17,6,22,8,19,4,3,25
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1194,71,1156,66,N,0,28,58,...,18,12,27,13,26,13,25,8,2,18
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18
10,2003,13,1166,106,1426,50,H,0,41,69,...,11,12,17,8,15,8,17,7,3,15
11,2003,13,1202,74,1106,73,N,0,29,51,...,22,5,5,13,16,15,12,6,2,12
12,2003,13,1237,66,1135,65,N,0,26,66,...,19,11,17,14,21,17,18,8,4,13
13,2003,13,1323,76,1125,48,H,0,25,56,...,24,4,8,14,26,12,17,10,0,17
14,2003,14,1125,83,1135,77,N,1,30,70,...,15,17,27,20,27,17,24,7,7,19

In [27]:
RegSeasonSwitch.head(15)

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1328,62,1104,68,N,0,22,53,...,14,11,18,14,24,13,23,7,1,22
1,2003,10,1393,63,1272,70,N,0,24,67,...,20,10,19,15,28,16,13,4,4,18
2,2003,11,1437,61,1266,73,N,0,22,73,...,18,17,29,17,26,15,10,5,2,25
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1208,71,1400,77,N,0,24,62,...,14,11,13,17,22,12,14,4,4,20
5,2003,11,1186,55,1458,81,H,0,20,46,...,12,23,27,12,24,12,9,9,3,18
6,2003,12,1236,62,1161,80,H,0,19,41,...,8,32,39,13,18,14,17,11,1,25
7,2003,12,1457,61,1186,75,N,0,20,59,...,14,15,21,13,35,19,19,7,2,21
8,2003,12,1156,66,1194,71,N,0,24,52,...,11,10,18,9,22,9,17,9,2,23
9,2003,12,1296,56,1458,84,H,0,23,52,...,17,15,19,14,22,11,6,12,0,13
10,2003,13,1426,50,1166,106,H,0,17,52,...,25,9,13,15,29,21,11,10,6,16
11,2003,13,1106,73,1202,74,N,0,29,63,...,13,9,11,6,21,18,15,7,1,5
12,2003,13,1135,65,1237,66,N,0,24,56,...,19,9,13,21,23,15,17,12,3,17
13,2003,13,1125,48,1323,76,H,0,18,64,...,23,16,23,8,35,18,13,14,19,13
14,2003,14,1135,77,1125,83,N,1,28,60,...,31,12,15,15,18,22,16,18,5,21

Looks like theyre still in order. I thought about just combining them and having 2 rows per game, but im thinking thats probably not a great idea since id be training on games that will also be in the test set, so im going to randomly select 50 percent from RegSeason where team 1 is the willer and the remaining indices will come from RegSeasonSwitch where team2 is the winner

In [28]:
RegSeason.shape

(189438, 34)

In [29]:
RegSeasonSwitch.shape

(189438, 34)

In [30]:
half = RegSeason.shape[0]//2

print(half)
np.random.seed(123)
half_indices = random.sample(list(RegSeason.index), k=half)

RegSeasonHalf = RegSeason.iloc[half_indices].sort_values(['Season', 'DayNum'])
#print(RegSeasonHalf.head(20))

RegSeasonSwitchHalf = RegSeasonSwitch.drop(half_indices).sort_values(['Season', 'DayNum'])
#RegSeasonSwitchHalf.head(20)

94719
     Season  DayNum  T1_TeamID  T1_Score  T2_TeamID  T2_Score location  NumOT  \
1      2003      10       1272        70       1393        63        N      0
4      2003      11       1400        77       1208        71        N      0
6      2003      12       1161        80       1236        62        H      0
9      2003      12       1458        84       1296        56        H      0
10     2003      13       1166       106       1426        50        H      0
12     2003      13       1237        66       1135        65        N      0
11     2003      13       1202        74       1106        73        N      0
24     2003      14       1462        87       1389        48        H      0
16     2003      14       1161        81       1194        56        H      0
20     2003      14       1323        89       1237        45        H      0
27     2003      15       1196        76       1256        55        H      0
32     2003      17       1196        99       1183        65        H      0
77     2003      18       1320        77       1285        71        A      0
48     2003      18       1157        77       1441        72        A      0
45     2003      18       1148        77       1389        67        H      0
104    2003      18       1435        80       1368        58        H      0
96     2003      18       1395        91       1358        81        H      0
44     2003      18       1141        61       1206        58        H      0
90     2003      18       1373        79       1107        75        H      0
60     2003      18       1219        70       1319        65        N      0

     T1_FGM  T1_FGA  ...  T2_FGA3  T2_FTM  T2_FTA  T2_OR  T2_DR  T2_Ast  \
1        26      62  ...       24       9      20     20     25       7
4        30      61  ...       16      17      27     21     15      12
6        23      55  ...       15      20      28      9     21      11
9        32      67  ...       14       7      12      9     23      10
10       41      69  ...       11      12      17      8     15       8
12       26      66  ...       19      11      17     14     21      17
11       29      51  ...       22       5       5     13     16      15
24       35      70  ...       20       1       4     16     18      11
16       22      48  ...       13      12      19     16     18      10
20       34      62  ...       15       5      11     27     22      10
27       28      48  ...        5      16      22     12     17      14
32       39      73  ...       11      17      24     15     23      15
77       27      57  ...       24      12      14     15     21      12
48       27      63  ...       14      17      18      7     19       9
45       29      61  ...       21       7       9     11     19       8
104      31      50  ...       18      14      22     14     15       9
96       31      65  ...       21      17      25     11     30      19
44       21      50  ...       10      15      23      7     25       6
90       29      64  ...       27      10      16      8     21      19
60       28      57  ...       19       7      19      8     22      11

     T2_TO  T2_Stl  T2_Blk  T2_PF
1       12       8       6     16
4       10       7       1     14
6       30      10       4     28
9       18       1       3     18
10      17       7       3     15
12      18       8       4     13
11      12       6       2     12
24      19       4       3     16
16      16      15       3     36
20      17       6       3     23
27      22       8       2     22
32      17       9       3     19
77      13       6       5     22
48      13       2       9     16
45      14       6       5     20
104     17      11       2     22
96      17       4       7     21
44      21       9       0     22
90      14       7       0     19
60      19      14       2     14

[20 rows x 34 columns]

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1328,62,1104,68,N,0,22,53,...,14,11,18,14,24,13,23,7,1,22
2,2003,11,1437,61,1266,73,N,0,22,73,...,18,17,29,17,26,15,10,5,2,25
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
5,2003,11,1186,55,1458,81,H,0,20,46,...,12,23,27,12,24,12,9,9,3,18
7,2003,12,1457,61,1186,75,N,0,20,59,...,14,15,21,13,35,19,19,7,2,21
8,2003,12,1156,66,1194,71,N,0,24,52,...,11,10,18,9,22,9,17,9,2,23
13,2003,13,1125,48,1323,76,H,0,18,64,...,23,16,23,8,35,18,13,14,19,13
14,2003,14,1135,77,1125,83,N,1,28,60,...,31,12,15,15,18,22,16,18,5,21
15,2003,14,1236,71,1156,78,N,0,23,50,...,18,14,24,8,25,18,15,2,6,18
17,2003,14,1202,57,1166,82,H,0,23,55,...,19,8,14,9,23,21,17,14,5,18
18,2003,14,1129,59,1183,73,H,0,21,51,...,19,6,8,8,21,17,15,10,1,19
19,2003,14,1336,55,1314,85,H,0,21,71,...,15,16,23,12,34,18,14,8,4,12
21,2003,14,1162,36,1353,60,H,0,12,39,...,19,10,15,15,18,10,12,14,6,18
22,2003,14,1131,57,1390,61,H,0,19,54,...,27,15,24,15,24,9,14,4,2,17
23,2003,14,1106,47,1426,59,N,0,20,60,...,5,8,12,15,32,14,16,6,4,7
25,2003,15,1156,63,1161,77,H,0,23,51,...,10,18,27,18,26,15,12,5,4,21
26,2003,15,1236,86,1194,93,N,2,27,58,...,20,18,33,17,26,14,14,17,0,21
28,2003,15,1221,57,1242,81,H,0,18,52,...,5,22,37,13,29,12,19,10,3,21
29,2003,15,1447,65,1422,84,H,0,26,70,...,8,15,20,7,36,12,22,5,9,19
30,2003,16,1353,67,1314,71,H,0,27,66,...,14,12,19,14,30,19,20,8,5,13

In [31]:
RegSeasonGames = pd.concat([RegSeasonHalf, RegSeasonSwitchHalf]).sort_index()
RegSeasonGames.head(25)

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,location,NumOT,T1_FGM,T1_FGA,...,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF
0,2003,10,1328,62,1104,68,N,0,22,53,...,14,11,18,14,24,13,23,7,1,22
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1437,61,1266,73,N,0,22,73,...,18,17,29,17,26,15,10,5,2,25
3,2003,11,1457,50,1296,56,N,0,18,49,...,9,17,31,6,19,11,12,14,2,18
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1186,55,1458,81,H,0,20,46,...,12,23,27,12,24,12,9,9,3,18
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1457,61,1186,75,N,0,20,59,...,14,15,21,13,35,19,19,7,2,21
8,2003,12,1156,66,1194,71,N,0,24,52,...,11,10,18,9,22,9,17,9,2,23
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18
10,2003,13,1166,106,1426,50,H,0,41,69,...,11,12,17,8,15,8,17,7,3,15
11,2003,13,1202,74,1106,73,N,0,29,51,...,22,5,5,13,16,15,12,6,2,12
12,2003,13,1237,66,1135,65,N,0,26,66,...,19,11,17,14,21,17,18,8,4,13
13,2003,13,1125,48,1323,76,H,0,18,64,...,23,16,23,8,35,18,13,14,19,13
14,2003,14,1135,77,1125,83,N,1,28,60,...,31,12,15,15,18,22,16,18,5,21
15,2003,14,1236,71,1156,78,N,0,23,50,...,18,14,24,8,25,18,15,2,6,18
16,2003,14,1161,81,1194,56,H,0,22,48,...,13,12,19,16,18,10,16,15,3,36
17,2003,14,1202,57,1166,82,H,0,23,55,...,19,8,14,9,23,21,17,14,5,18
18,2003,14,1129,59,1183,73,H,0,21,51,...,19,6,8,8,21,17,15,10,1,19
19,2003,14,1336,55,1314,85,H,0,21,71,...,15,16,23,12,34,18,14,8,4,12
20,2003,14,1323,89,1237,45,H,0,34,62,...,15,5,11,27,22,10,17,6,3,23
21,2003,14,1162,36,1353,60,H,0,12,39,...,19,10,15,15,18,10,12,14,6,18
22,2003,14,1131,57,1390,61,H,0,19,54,...,27,15,24,15,24,9,14,4,2,17
23,2003,14,1106,47,1426,59,N,0,20,60,...,5,8,12,15,32,14,16,6,4,7
24,2003,14,1462,87,1389,48,H,0,35,70,...,20,1,4,16,18,11,19,4,3,16

In [32]:
RegSeasonGames.shape

(189438, 34)

## COmputing Season Stats By Team

Now to compute season averages. I Want to group by Team 1. I guess i can use a df with every game twice since theyre just averages

In [33]:
RegSeasonDouble = pd.concat([RegSeason, RegSeasonSwitch])
RegSeasonDouble.shape

(378876, 34)

In [34]:
RegSeasonDouble.columns

Index(['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID', 'T2_Score',
       'location', 'NumOT', 'T1_FGM', 'T1_FGA', 'T1_FGM3', 'T1_FGA3', 'T1_FTM',
       'T1_FTA', 'T1_OR', 'T1_DR', 'T1_Ast', 'T1_TO', 'T1_Stl', 'T1_Blk',
       'T1_PF', 'T2_FGM', 'T2_FGA', 'T2_FGM3', 'T2_FGA3', 'T2_FTM', 'T2_FTA',
       'T2_OR', 'T2_DR', 'T2_Ast', 'T2_TO', 'T2_Stl', 'T2_Blk', 'T2_PF'],
      dtype='object')

In [35]:
RegSeasonDouble.columns = [x.replace('T1_','').replace('T2_','Opp_') for x in list(RegSeasonDouble.columns)]
RegSeasonDouble.columns

Index(['Season', 'DayNum', 'TeamID', 'Score', 'Opp_TeamID', 'Opp_Score',
       'location', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3',
       'Opp_FGA3', 'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast',
       'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF'],
      dtype='object')

### Look Into Calculating some more advanced stats

Below is just very basic averages

In [36]:
RegSeasonDouble['Games'] = 1

In [37]:
StatsAvgs = RegSeasonDouble.groupby(['TeamID', 'Season'])[['Score', 'Opp_Score',
       'location','Games', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3',
       'Opp_FGA3', 'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast',
       'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF']].mean().reset_index()

In [38]:
StatsAvgs.columns

Index(['TeamID', 'Season', 'Score', 'Opp_Score', 'Games', 'NumOT', 'FGM',
       'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl',
       'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3', 'Opp_FGA3', 'Opp_FTM',
       'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO', 'Opp_Stl',
       'Opp_Blk', 'Opp_PF'],
      dtype='object')

## TO DO

Figure out which columns to keep that we want in the season info for each team
Rename columns to specify they are mean values

In [39]:
SA = StatsAvgs[['TeamID', 'Season', 'Score', 'Opp_Score', 'FGM', 'FGM3', 'OR', 'DR', 'Ast', 'TO', 'Stl',
       'Blk', 'PF', 'Opp_FGM', 'Opp_FGM3', 'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO', 'Opp_Stl',
       'Opp_Blk', 'Opp_PF']]

In [40]:
SA.columns = ['TeamID', 'Season', 'P_PG', 'PA_PG', 'FGM_PG', 'FGM3_PG', 'OR_PG', 'DR_PG', 'Ast_PG', 'TO_PG', 'Stl_PG',
       'Blk_PG', 'PF_PG', 'Opp_FGM_PG', 'Opp_FGM3_PG', 'Opp_OR_PG', 'Opp_DR_PG', 'Opp_Ast_PG', 'Opp_TO_PG', 'Opp_Stl_PG',
       'Opp_Blk_PG', 'Opp_PF_PG']

In [41]:
SA

,TeamID,Season,P_PG,PA_PG,FGM_PG,FGM3_PG,OR_PG,DR_PG,Ast_PG,TO_PG,...,PF_PG,Opp_FGM_PG,Opp_FGM3_PG,Opp_OR_PG,Opp_DR_PG,Opp_Ast_PG,Opp_TO_PG,Opp_Stl_PG,Opp_Blk_PG,Opp_PF_PG
0,1101,2014,63.142857,78.619048,20.333333,6.666667,8.000000,20.333333,10.000000,15.000000,...,21.571429,27.142857,6.000000,10.380952,24.095238,15.571429,12.142857,7.000000,5.000000,18.666667
1,1101,2015,61.000000,71.857143,21.428571,7.250000,8.250000,19.642857,11.857143,12.821429,...,20.607143,25.035714,6.178571,10.035714,25.892857,12.928571,13.464286,5.857143,4.250000,16.535714
2,1101,2016,69.851852,76.259259,23.814815,6.851852,8.185185,22.518519,12.888889,13.407407,...,22.370370,26.481481,5.592593,8.592593,25.222222,12.851852,13.444444,5.111111,3.296296,19.666667
3,1101,2017,67.880000,72.640000,24.440000,7.080000,7.560000,22.880000,13.600000,14.480000,...,22.160000,24.840000,7.080000,10.640000,25.040000,13.600000,14.800000,6.040000,3.160000,17.240000
4,1101,2018,70.666667,72.814815,25.518519,6.481481,9.037037,23.222222,13.888889,14.407407,...,21.037037,24.777778,6.629630,9.925926,25.037037,12.037037,15.481481,6.518519,2.925926,17.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3476,2023,59.178571,65.428571,21.571429,6.178571,8.678571,22.571429,14.000000,14.535714,...,14.964286,25.178571,5.000000,8.785714,22.964286,11.785714,11.214286,7.892857,3.214286,16.142857
12853,3476,2024,52.200000,68.966667,18.933333,5.500000,9.033333,21.333333,11.533333,18.400000,...,14.433333,26.900000,5.333333,11.866667,24.333333,13.500000,13.466667,10.833333,3.233333,16.033333
12854,3477,2023,64.625000,69.625000,22.937500,3.656250,11.312500,23.875000,11.875000,16.718750,...,15.437500,26.406250,6.531250,9.593750,23.406250,15.437500,15.781250,9.000000,4.062500,18.562500
12855,3477,2024,67.620690,74.172414,24.448276,6.931034,7.620690,25.931034,10.517241,13.000000,...,15.965517,27.655172,5.689655,12.482759,30.896552,13.931034,13.344828,6.724138,3.586207,15.931034
12856,3478,2024,57.031250,60.250000,20.781250,4.593750,10.343750,21.187500,11.625000,13.562500,...,13.468750,22.375000,6.812500,11.593750,23.375000,14.312500,15.875000,7.125000,2.906250,15.281250

In [42]:
StatsTotals = RegSeasonDouble.groupby(['TeamID', 'Season'])[['Score', 'Opp_Score',
       'location', 'Games', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3',
       'Opp_FGA3', 'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast',
       'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF']].sum().reset_index()
StatsTotals

,TeamID,Season,Score,Opp_Score,Games,NumOT,FGM,FGA,FGM3,FGA3,...,Opp_FGA3,Opp_FTM,Opp_FTA,Opp_OR,Opp_DR,Opp_Ast,Opp_TO,Opp_Stl,Opp_Blk,Opp_PF
0,1101,2014,1326,1651,21,3,427,1053,140,375,...,340,385,542,218,506,327,255,147,105,392
1,1101,2015,1708,2012,28,0,600,1482,203,537,...,468,437,636,281,725,362,377,164,119,463
2,1101,2016,1886,2059,27,2,643,1456,185,509,...,409,478,674,232,681,347,363,138,89,531
3,1101,2017,1697,1816,25,4,611,1333,177,477,...,490,397,595,266,626,340,370,151,79,431
4,1101,2018,1908,1966,27,1,689,1525,175,539,...,533,449,633,268,676,325,418,176,79,477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3476,2023,1657,1832,28,1,604,1563,173,567,...,443,282,405,246,643,330,314,221,90,452
12853,3476,2024,1566,2069,30,0,568,1662,165,597,...,527,295,438,356,730,405,404,325,97,481
12854,3477,2023,2068,2228,32,1,734,1863,117,456,...,633,329,468,307,749,494,505,288,130,594
12855,3477,2024,1961,2151,29,1,709,1877,201,613,...,562,382,545,362,896,404,387,195,104,462
12856,3478,2024,1825,1928,32,1,665,1811,147,519,...,706,278,416,371,748,458,508,228,93,489

In [43]:
StatsTotals['FG_PCT'] = StatsTotals['FGM']/StatsTotals['FGA']
StatsTotals['FG_PCT3'] = StatsTotals['FGM3']/StatsTotals['FGA3']
StatsTotals['FT_PCT'] = StatsTotals['FTM']/StatsTotals['FTA']

StatsTotals['Opp_FG_PCT'] = StatsTotals['Opp_FGM']/StatsTotals['Opp_FGA']
StatsTotals['Opp_FG_PCT3'] = StatsTotals['Opp_FGM3']/StatsTotals['Opp_FGA3']
StatsTotals['Opp_FT_PCT'] = StatsTotals['Opp_FTM']/StatsTotals['Opp_FTA']

#A possesion can only end with a shot, turnover, foul (free trhrows) i think. We consider an offensive rebound a continuation of that possesion
StatsTotals['POSS'] = StatsTotals['FGA']+StatsTotals['TO']+(StatsTotals['FTA']*0.44)-StatsTotals['OR']
StatsTotals['POSS_PER_GAME'] = StatsTotals['POSS']/StatsTotals['Games']

# THeoretically opponent POSS should only differer by 1 or 2 at most, but since Im calculating it in kind of a janky way, I want to see how much difference there is.
StatsTotals['Opp_POSS'] = StatsTotals['Opp_FGA']+StatsTotals['Opp_TO']+(StatsTotals['Opp_FTA']*0.44)-StatsTotals['Opp_OR']
StatsTotals['Opp_POSS_PER_GAME'] = StatsTotals['Opp_POSS']/StatsTotals['Games']

StatsTotals['POSS_Diff'] = (StatsTotals['POSS'] -StatsTotals['Opp_POSS'])/StatsTotals['Games'] 
 
StatsTotals.sort_values('POSS_Diff').loc[StatsTotals.Season == 2024].tail(25)

,TeamID,Season,Score,Opp_Score,Games,NumOT,FGM,FGA,FGM3,FGA3,...,FG_PCT3,FT_PCT,Opp_FG_PCT,Opp_FG_PCT3,Opp_FT_PCT,POSS,POSS_PER_GAME,Opp_POSS,Opp_POSS_PER_GAME,POSS_Diff
11925,3401,2024,2129,1818,31,0,819,1999,160,573,...,0.279232,0.678279,0.371429,0.294000,0.717602,2245.72,72.442581,2208.48,71.241290,1.201290
8407,3160,2024,2340,1974,31,0,883,1919,210,587,...,0.357751,0.728000,0.402650,0.339823,0.769539,2271.00,73.258065,2233.56,72.050323,1.207742
10262,3286,2024,1938,1915,33,1,684,1814,151,558,...,0.270609,0.756318,0.389205,0.313636,0.704167,2282.76,69.174545,2242.20,67.945455,1.229091
5176,1351,2024,2196,2241,31,3,790,1838,174,517,...,0.336557,0.752981,0.426519,0.344428,0.695455,2171.28,70.041290,2132.40,68.787097,1.254194
710,1138,2024,2019,2388,30,1,743,1786,203,739,...,0.274696,0.711207,0.475216,0.365031,0.724203,2145.16,71.505333,2107.52,70.250667,1.254667
11477,3371,2024,2013,1856,31,3,748,1799,176,553,...,0.318264,0.749451,0.407363,0.321767,0.689498,2133.20,68.812903,2093.72,67.539355,1.273548
8868,3191,2024,2011,2595,32,4,693,1920,155,589,...,0.263158,0.712121,0.469009,0.302932,0.733434,2525.40,78.918750,2484.16,77.630000,1.288750
798,1142,2024,1957,2309,31,3,693,1718,193,584,...,0.330479,0.703911,0.461583,0.355769,0.747222,2114.28,68.202581,2073.80,66.896774,1.305806
12225,3421,2024,1685,1809,29,3,623,1724,115,481,...,0.239085,0.699784,0.394231,0.295720,0.658397,2058.72,70.990345,2020.56,69.674483,1.315862
7867,3119,2024,1571,1720,27,0,572,1563,137,480,...,0.285417,0.732323,0.452896,0.316049,0.736842,1842.24,68.231111,1806.56,66.909630,1.321481
12630,3452,2024,2314,1791,31,1,836,1863,218,672,...,0.324405,0.700826,0.401242,0.297959,0.706000,2307.20,74.425806,2266.00,73.096774,1.329032
10556,3308,2024,1785,1852,30,4,664,1675,125,411,...,0.304136,0.693111,0.409548,0.286528,0.695271,2097.76,69.925333,2057.24,68.574667,1.350667
11287,3358,2024,1711,2004,27,3,560,1647,144,511,...,0.281800,0.698438,0.459196,0.345055,0.698969,2109.60,78.133333,2072.40,76.755556,1.377778
2504,1223,2024,1872,2290,27,1,681,1594,132,447,...,0.295302,0.640678,0.481502,0.339901,0.715686,2011.60,74.503704,1974.40,73.125926,1.377778
11447,3369,2024,1632,1826,27,0,587,1590,118,454,...,0.259912,0.699588,0.427894,0.337891,0.684859,1970.84,72.994074,1932.92,71.589630,1.404444
10,1101,2024,2200,2282,31,3,765,1801,157,459,...,0.342048,0.736011,0.468442,0.333333,0.693410,2240.68,72.280000,2197.12,70.874839,1.405161
8060,3135,2024,1614,1633,26,0,587,1511,183,621,...,0.294686,0.679894,0.401418,0.311364,0.706215,1835.32,70.589231,1798.76,69.183077,1.406154
7607,1473,2024,1774,2096,28,1,602,1549,138,476,...,0.289916,0.728499,0.468934,0.375874,0.728013,1933.92,69.068571,1894.16,67.648571,1.420000
10569,3309,2024,1865,2050,30,4,652,1851,122,440,...,0.277273,0.737815,0.396431,0.302034,0.754826,2326.80,77.560000,2276.92,75.897333,1.662667
10629,3313,2024,2061,1629,31,1,759,1882,175,545,...,0.321101,0.728713,0.357050,0.290429,0.691089,2164.20,69.812903,2111.20,68.103226,1.709677
1499,1175,2024,2124,2205,31,5,743,1767,140,449,...,0.311804,0.707386,0.437428,0.357558,0.718400,2211.76,71.347097,2158.00,69.612903,1.734194
10584,3310,2024,2325,2300,33,3,868,2274,186,648,...,0.287037,0.667219,0.452725,0.313869,0.722543,2714.76,82.265455,2656.48,80.499394,1.766061
9978,3267,2024,2529,2166,30,1,890,2099,320,940,...,0.340426,0.665116,0.450335,0.304740,0.656693,2468.80,82.293333,2413.40,80.446667,1.846667
8377,3158,2024,2037,1806,28,1,730,1873,213,619,...,0.344103,0.722222,0.397497,0.295191,0.649007,2143.76,76.562857,2091.32,74.690000,1.872857
120,1106,2024,1916,2057,29,4,666,1869,201,717,...,0.280335,0.718574,0.420720,0.340524,0.733624,2096.52,72.293793,2027.28,69.906207,2.387586

In [44]:
#DReb_PCT
StatsTotals['DREB_PCT'] = StatsTotals['DR']/(StatsTotals['DR']+StatsTotals['Opp_OR'])
#OReb_PCT
StatsTotals['OREB_PCT'] = StatsTotals['OR']/(StatsTotals['OR']+StatsTotals['Opp_DR'])
#EFG_PCT
StatsTotals['EFG_PCT'] = (StatsTotals['FGM']+StatsTotals['FGM3']*0.5)/StatsTotals['FGA']
#Opp_EFG_PCT
StatsTotals['Opp_EFG_PCT'] = (StatsTotals['Opp_FGM']+StatsTotals['Opp_FGM3']*0.5)/StatsTotals['Opp_FGA']
#OFF_RTG
StatsTotals['OFF_RTG'] = 100*(StatsTotals['Score']/StatsTotals['POSS'])
#DEF_RTG
StatsTotals['DEF_RTG'] = 100*(StatsTotals['Opp_Score']/StatsTotals['Opp_POSS'])
#NET_RTG
StatsTotals['NET_RTG'] = StatsTotals['OFF_RTG']/StatsTotals['DEF_RTG']
#TOV_PCT
StatsTotals['TOV_PCT'] = StatsTotals['TO']/StatsTotals['POSS']

In [45]:
StatsTotals

,TeamID,Season,Score,Opp_Score,Games,NumOT,FGM,FGA,FGM3,FGA3,...,Opp_POSS_PER_GAME,POSS_Diff,DREB_PCT,OREB_PCT,EFG_PCT,Opp_EFG_PCT,OFF_RTG,DEF_RTG,NET_RTG,TOV_PCT
0,1101,2014,1326,1651,21,3,427,1053,140,375,...,66.546667,-0.080000,0.662016,0.249258,0.471985,0.564171,94.999284,118.141226,0.804116,0.225677
1,1101,2015,1708,2012,28,0,600,1482,203,537,...,64.280000,-0.195714,0.661853,0.241632,0.473347,0.553020,95.187142,111.787714,0.851499,0.200071
2,1101,2016,1886,2059,27,2,643,1456,185,509,...,69.502222,-0.788148,0.723810,0.245011,0.505151,0.545549,101.655815,109.722045,0.926485,0.195119
3,1101,2017,1697,1816,25,4,611,1333,177,477,...,68.312000,0.094400,0.682578,0.231902,0.524756,0.528689,99.230481,106.335636,0.933182,0.211676
4,1101,2018,1908,1966,27,1,689,1525,175,539,...,70.167407,-0.102222,0.700559,0.265217,0.509180,0.517394,100.858460,103.772987,0.971914,0.205629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3476,2023,1657,1832,28,1,604,1563,173,567,...,67.221429,0.444286,0.719818,0.274266,0.441779,0.473716,87.457248,97.332908,0.898537,0.214817
12853,3476,2024,1566,2069,30,0,568,1662,165,597,...,69.824000,0.472000,0.642570,0.270729,0.391396,0.478425,74.257426,98.772151,0.751805,0.261750
12854,3477,2023,2068,2228,32,1,734,1863,117,456,...,74.122500,-0.680000,0.713352,0.325833,0.425389,0.482470,87.994009,93.932342,0.936781,0.227644
12855,3477,2024,1961,2151,29,1,709,1877,201,613,...,77.613793,-0.303448,0.675045,0.197851,0.431273,0.445368,87.466548,95.566021,0.915247,0.168153
12856,3478,2024,1825,1928,32,1,665,1811,147,519,...,66.813750,-0.442500,0.646330,0.306766,0.407786,0.453795,85.927642,90.176049,0.952888,0.204343

In [46]:
StatsTotals.columns

Index(['TeamID', 'Season', 'Score', 'Opp_Score', 'Games', 'NumOT', 'FGM',
       'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl',
       'Blk', 'PF', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3', 'Opp_FGA3', 'Opp_FTM',
       'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO', 'Opp_Stl',
       'Opp_Blk', 'Opp_PF', 'FG_PCT', 'FG_PCT3', 'FT_PCT', 'Opp_FG_PCT',
       'Opp_FG_PCT3', 'Opp_FT_PCT', 'POSS', 'POSS_PER_GAME', 'Opp_POSS',
       'Opp_POSS_PER_GAME', 'POSS_Diff', 'DREB_PCT', 'OREB_PCT', 'EFG_PCT',
       'Opp_EFG_PCT', 'OFF_RTG', 'DEF_RTG', 'NET_RTG', 'TOV_PCT'],
      dtype='object')

## TO Do

Determine which columns to keep to be merged later into the season info dataset
Rename columns if necessary

In [47]:
ST = StatsTotals[['TeamID', 'Season', 'FG_PCT', 'FG_PCT3', 'FT_PCT', 'Opp_FG_PCT',
       'Opp_FG_PCT3', 'Opp_FT_PCT', 'POSS_PER_GAME',
       'Opp_POSS_PER_GAME', 'DREB_PCT', 'OREB_PCT', 'EFG_PCT',
       'Opp_EFG_PCT', 'OFF_RTG', 'DEF_RTG', 'NET_RTG', 'TOV_PCT']]

Games Data Doesnt need the stats anymore

In [48]:
RegSeasonGames.columns

Index(['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID', 'T2_Score',
       'location', 'NumOT', 'T1_FGM', 'T1_FGA', 'T1_FGM3', 'T1_FGA3', 'T1_FTM',
       'T1_FTA', 'T1_OR', 'T1_DR', 'T1_Ast', 'T1_TO', 'T1_Stl', 'T1_Blk',
       'T1_PF', 'T2_FGM', 'T2_FGA', 'T2_FGM3', 'T2_FGA3', 'T2_FTM', 'T2_FTA',
       'T2_OR', 'T2_DR', 'T2_Ast', 'T2_TO', 'T2_Stl', 'T2_Blk', 'T2_PF'],
      dtype='object')

In [49]:
RegSeasonGame = RegSeasonGames[['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID', 'T2_Score',
       'location']]
RegSeasonGame

        Season  DayNum  T1_TeamID  T1_Score  T2_TeamID  T2_Score location
0         2003      10       1328        62       1104        68        N
1         2003      10       1272        70       1393        63        N
2         2003      11       1437        61       1266        73        N
3         2003      11       1457        50       1296        56        N
4         2003      11       1400        77       1208        71        N
...        ...     ...        ...       ...        ...       ...      ...
189433    2024     131       3372        74       3465        75        N
189434    2024     132       3179        76       3283        75        N
189435    2024     132       3392        60       3180        68        N
189436    2024     132       3131        55       3221        61        H
189437    2024     132       3357        69       3478        48        H

[189438 rows x 7 columns]

Eventually ill Have to merge the RegSeasonGame with that teams season stats, I want to make some more advanced stats frist though
When I merge, Remember column names will ahve to be the same whcih will probably involve making 2 identical datasets out of the Stats Df, only differnce being the column names where 'TeamId' will become 'T1_TeamID' in one and 'T2_TeamID' in the other. All other columns will change similarly. For instance, 'Opp_FGM" becomes 'T1_Opp_FGM'

In [50]:
TeamRecords.shape

(12857, 11)

In [51]:
#Stats.shape

In [52]:
temp = pd.concat([WConf, MConf], ignore_index = True)
TeamRundown = pd.merge(TeamRecords, temp, 'left', on = ['Season', 'TeamID']).rename(columns = {'ConfAbbrev':'Conference'})
TeamRundown

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,Win_PCT,Conference
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,0.095238,southland
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,0.250000,southland
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,0.333333,southland
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,0.360000,southland
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,0.444444,southland
...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,0.000000,big_south
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,0.000000,acc
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,0.000000,big_sky
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,0.000000,horizon
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,0.000000,wac

#### Calculating Strength of schedule

Both for the full season and their conference tourney opponents

In [53]:
TeamRundown['Opp_wins'] = 0
TeamRundown['Opp_losses'] = 0
count = 0
for row in range(len(TeamRundown)):
    for opp in TeamRundown['OpponentsBeaten'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_wins'] += TeamRundown.loc[mask, 'Wins'].sum() + TeamRundown.loc[mask, 'ConfWins'].sum()
        TeamRundown.at[row, 'Opp_losses'] += TeamRundown.loc[mask, 'Losses'].sum() + TeamRundown.loc[mask, 'ConfLosses'].sum()
    for opp in TeamRundown['OpponentsLost'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_wins'] += TeamRundown.loc[mask, 'Wins'].sum() + TeamRundown.loc[mask, 'ConfWins'].sum()
        TeamRundown.at[row, 'Opp_losses'] += TeamRundown.loc[mask, 'Losses'].sum() + TeamRundown.loc[mask, 'ConfLosses'].sum()
    for opp in TeamRundown['ConfOpponentsBeaten'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_wins'] += TeamRundown.loc[mask, 'Wins'].sum() + TeamRundown.loc[mask, 'ConfWins'].sum()
        TeamRundown.at[row, 'Opp_losses'] += TeamRundown.loc[mask, 'Losses'].sum() + TeamRundown.loc[mask, 'ConfLosses'].sum()
    for opp in TeamRundown['ConfOpponentsLost'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_wins'] += TeamRundown.loc[mask, 'Wins'].sum() + TeamRundown.loc[mask, 'ConfWins'].sum()
        TeamRundown.at[row, 'Opp_losses'] += TeamRundown.loc[mask, 'Losses'].sum() + TeamRundown.loc[mask, 'ConfLosses'].sum()
    if row <= 4:
        print(TeamRundown['Opp_wins'][row])
        print(TeamRundown['Opp_losses'][row])

299
325
395
436
355
464
338
411
374
436

In [55]:
TeamRundown['Opp_win_pct'] = TeamRundown['Opp_wins']/(TeamRundown['Opp_wins']+TeamRundown['Opp_losses'])
TeamRundown

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,Win_PCT,Conference,Opp_wins,Opp_losses,Opp_win_pct
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,0.095238,southland,299,325,0.479167
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,0.250000,southland,395,436,0.475331
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,0.333333,southland,355,464,0.433455
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,0.360000,southland,338,411,0.451268
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,0.444444,southland,374,436,0.461728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,0.000000,big_south,416,396,0.512315
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,0.000000,acc,59,49,0.546296
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,0.000000,big_sky,461,390,0.541716
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,0.000000,horizon,452,450,0.501109
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,0.000000,wac,19,22,0.463415

In [56]:
TeamRundown['ConfOpp_wins'] = 0
TeamRundown['ConfOpp_losses'] = 0
count = 0
for row in range(len(TeamRundown)):
    for opp in TeamRundown['ConfOpponentsBeaten'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'ConfOpp_wins'] += TeamRundown.loc[mask, 'Wins'].sum() + TeamRundown.loc[mask, 'ConfWins'].sum()
        TeamRundown.at[row, 'ConfOpp_losses'] += TeamRundown.loc[mask, 'Losses'].sum() + TeamRundown.loc[mask, 'ConfLosses'].sum()
    for opp in TeamRundown['ConfOpponentsLost'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'ConfOpp_wins'] += TeamRundown.loc[mask, 'Wins'].sum() + TeamRundown.loc[mask, 'ConfWins'].sum()
        TeamRundown.at[row, 'ConfOpp_losses'] += TeamRundown.loc[mask, 'Losses'].sum() + TeamRundown.loc[mask, 'ConfLosses'].sum()

In [57]:
TeamRundown['ConfOpp_win_pct'] = TeamRundown['ConfOpp_wins']/(TeamRundown['ConfOpp_wins']+TeamRundown['ConfOpp_losses'])
TeamRundown

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,Win_PCT,Conference,Opp_wins,Opp_losses,Opp_win_pct,ConfOpp_wins,ConfOpp_losses,ConfOpp_win_pct
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,0.095238,southland,299,325,0.479167,0,0,NaN
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,0.250000,southland,395,436,0.475331,0,0,NaN
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,0.333333,southland,355,464,0.433455,0,0,NaN
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,0.360000,southland,338,411,0.451268,0,0,NaN
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,0.444444,southland,374,436,0.461728,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,0.000000,big_south,416,396,0.512315,0,0,NaN
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,0.000000,acc,59,49,0.546296,0,0,NaN
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,0.000000,big_sky,461,390,0.541716,0,0,NaN
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,0.000000,horizon,452,450,0.501109,0,0,NaN
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,0.000000,wac,19,22,0.463415,0,0,NaN

In [59]:

start_time = time.time()


TeamRundown['Opp_Opp_wins'] = 0
TeamRundown['Opp_Opp_losses'] = 0
count = 0
for row in range(len(TeamRundown)):
    if row % 5000 == 0:
        print(row)
    for opp in TeamRundown['OpponentsBeaten'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_Opp_wins'] += TeamRundown.loc[mask, 'Opp_wins'].sum()
        TeamRundown.at[row, 'Opp_Opp_losses'] += TeamRundown.loc[mask, 'Opp_losses'].sum()
    for opp in TeamRundown['OpponentsLost'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_Opp_wins'] += TeamRundown.loc[mask, 'Opp_wins'].sum()
        TeamRundown.at[row, 'Opp_Opp_losses'] += TeamRundown.loc[mask, 'Opp_losses'].sum()
    for opp in TeamRundown['ConfOpponentsLost'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_Opp_wins'] += TeamRundown.loc[mask, 'Opp_wins'].sum()
        TeamRundown.at[row, 'Opp_Opp_losses'] += TeamRundown.loc[mask, 'Opp_losses'].sum()
    for opp in TeamRundown['ConfOpponentsBeaten'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'Opp_Opp_wins'] += TeamRundown.loc[mask, 'Opp_wins'].sum()
        TeamRundown.at[row, 'Opp_Opp_losses'] += TeamRundown.loc[mask, 'Opp_losses'].sum()
    if row <= 1:
        print(TeamRundown['Opp_Opp_wins'][row])
        print(TeamRundown['Opp_Opp_losses'][row])
        
        
        
end_time = time.time()
execution_time = end_time - start_time

print("Execution time:", execution_time, "seconds")

0
9707
9788
12052
13347
12008
13396
11003
11937
11720
13175
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
Execution time: 173.5309522151947 seconds

In [63]:
TeamRundown['Opp_Opp_win_pct'] = TeamRundown['Opp_Opp_wins']/(TeamRundown['Opp_Opp_wins']+TeamRundown['Opp_Opp_losses'])
TeamRundown

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,...,Opp_losses,Opp_win_pct,ConfOpp_wins,ConfOpp_losses,ConfOpp_win_pct,Opp_Opp_wins,Opp_Opp_losses,Opp_Opp_win_pct,ConfOpp_Opp_wins,ConfOpp_Opp_losses
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,...,325,0.479167,0,0,NaN,9707,9788,0.497923,0,0
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,...,436,0.475331,0,0,NaN,12052,13347,0.474507,0,0
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,...,464,0.433455,0,0,NaN,12008,13396,0.472681,0,0
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,...,411,0.451268,0,0,NaN,11003,11937,0.479643,0,0
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,...,436,0.461728,0,0,NaN,11720,13175,0.470777,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,...,396,0.512315,0,0,NaN,11053,12826,0.462875,0,0
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,...,49,0.546296,0,0,NaN,1227,999,0.551213,0,0
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,...,390,0.541716,0,0,NaN,12234,12946,0.485862,0,0
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,...,450,0.501109,0,0,NaN,12958,13997,0.480727,0,0
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,...,22,0.463415,0,0,NaN,439,471,0.482418,0,0

In [64]:
TeamRundown['ConfOpp_Opp_wins'] = 0
TeamRundown['ConfOpp_Opp_losses'] = 0
count = 0
for row in range(len(TeamRundown)):   
    for opp in TeamRundown['ConfOpponentsLost'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'ConfOpp_Opp_wins'] += TeamRundown.loc[mask, 'Opp_wins'].sum()
        TeamRundown.at[row, 'ConfOpp_Opp_losses'] += TeamRundown.loc[mask, 'Opp_losses'].sum()
    for opp in TeamRundown['ConfOpponentsBeaten'][row]:
        mask = (TeamRundown['Season'] == TeamRundown['Season'][row]) & (TeamRundown['TeamID'] == opp)
        TeamRundown.at[row, 'ConfOpp_Opp_wins'] += TeamRundown.loc[mask, 'Opp_wins'].sum()
        TeamRundown.at[row, 'ConfOpp_Opp_losses'] += TeamRundown.loc[mask, 'Opp_losses'].sum()

In [72]:
TeamRundown['ConfOpp_Opp_win_pct'] = TeamRundown['ConfOpp_Opp_wins']/(TeamRundown['ConfOpp_Opp_wins']+TeamRundown['ConfOpp_Opp_losses'])
TeamRundown

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,...,ConfOpp_losses,ConfOpp_win_pct,Opp_Opp_wins,Opp_Opp_losses,Opp_Opp_win_pct,ConfOpp_Opp_wins,ConfOpp_Opp_losses,ConfOpp_Opp_win_pct,SOS,ConfSOS
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,...,0,NaN,9707,9788,0.497923,0,0,NaN,0.485419,NaN
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,...,0,NaN,12052,13347,0.474507,0,0,NaN,0.475056,NaN
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,...,0,NaN,12008,13396,0.472681,0,0,NaN,0.446531,NaN
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,...,0,NaN,11003,11937,0.479643,0,0,NaN,0.460726,NaN
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,...,0,NaN,11720,13175,0.470777,0,0,NaN,0.464745,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,...,0,NaN,11053,12826,0.462875,0,0,NaN,0.495835,NaN
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,...,0,NaN,1227,999,0.551213,0,0,NaN,0.547935,NaN
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,...,0,NaN,12234,12946,0.485862,0,0,NaN,0.523098,NaN
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,...,0,NaN,12958,13997,0.480727,0,0,NaN,0.494315,NaN
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,...,0,NaN,439,471,0.482418,0,0,NaN,0.469749,NaN

In [66]:
TeamRundown['SOS'] = (2*TeamRundown['Opp_win_pct']+TeamRundown['Opp_Opp_win_pct'])/3
TeamRundown['SOS'].describe()

count    12857.000000
mean         0.505756
std          0.042331
min          0.387594
25%          0.474839
50%          0.500276
75%          0.537118
max          0.637620
Name: SOS, dtype: float64

In [78]:
TeamRundown['ConfSOS'] = (2*TeamRundown['ConfOpp_win_pct']+TeamRundown['ConfOpp_Opp_win_pct'])/3
#Teams with no conf tourney games will probably play on  average similar opponents. I'm still going to bumb them down a bit though
for row in range(len(TeamRundown)):
    if pd.isnull(TeamRundown['ConfSOS'][row]):
        TeamRundown.loc[row, 'ConfSOS'] = TeamRundown['SOS'][row]*0.9
        
TeamRundown

C:\Users\18582\AppData\Local\Temp/ipykernel_11672/664357260.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TeamRundown['ConfSOS'][row] = TeamRundown['SOS'][row]*0.9

,TeamID,Season,Wins,Losses,OpponentsBeaten,OpponentsLost,ConfWins,ConfOpponentsBeaten,ConfOpponentsLost,ConfLosses,...,ConfOpp_losses,ConfOpp_win_pct,Opp_Opp_wins,Opp_Opp_losses,Opp_Opp_win_pct,ConfOpp_Opp_wins,ConfOpp_Opp_losses,ConfOpp_Opp_win_pct,SOS,ConfSOS
0,1101,2014,2.0,19.0,"[1146, 1223]","[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.0,[],[],0.0,...,0,NaN,9707,9788,0.497923,0,0,NaN,0.485419,0.436877
1,1101,2015,7.0,21.0,"[1170, 1354, 1115, 1146, 1311, 1322, 1223]","[1409, 1182, 1415, 1222, 1260, 1129, 1213, 137...",0.0,[],[],0.0,...,0,NaN,12052,13347,0.474507,0,0,NaN,0.475056,0.427551
2,1101,2016,9.0,18.0,"[1197, 1146, 1322, 1270, 1249, 1223, 1249, 136...","[1339, 1161, 1324, 1306, 1304, 1415, 1395, 117...",0.0,[],[],0.0,...,0,NaN,12008,13396,0.472681,0,0,NaN,0.446531,0.401878
3,1101,2017,9.0,16.0,"[1306, 1149, 1372, 1249, 1309, 1358, 1322, 127...","[1149, 1328, 1307, 1170, 1362, 1309, 1368, 114...",0.0,[],[],0.0,...,0,NaN,11003,11937,0.479643,0,0,NaN,0.460726,0.414654
4,1101,2018,12.0,15.0,"[1144, 1132, 1102, 1402, 1358, 1270, 1223, 132...","[1117, 1252, 1367, 1252, 1403, 1309, 1368, 137...",0.0,[],[],0.0,...,0,NaN,11720,13175,0.470777,0,0,NaN,0.464745,0.418270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12852,3421,2013,0.0,28.0,[],"[3441, 3459, 3184, 3314, 3378, 3144, 3367, 324...",0.0,[],[],0.0,...,0,NaN,11053,12826,0.462875,0,0,NaN,0.495835,0.446252
12853,3438,2021,0.0,5.0,[],"[3416, 3187, 3241, 3155, 3199]",0.0,[],[],0.0,...,0,NaN,1227,999,0.551213,0,0,NaN,0.547935,0.493142
12854,3451,2013,0.0,29.0,[],"[3140, 3129, 3329, 3119, 3428, 3307, 3430, 346...",0.0,[],[],0.0,...,0,NaN,12234,12946,0.485862,0,0,NaN,0.523098,0.470788
12855,3464,2010,0.0,30.0,[],"[3189, 3219, 3245, 3145, 3419, 3451, 3338, 310...",0.0,[],[],0.0,...,0,NaN,12958,13997,0.480727,0,0,NaN,0.494315,0.444883
12856,3469,2021,0.0,2.0,[],"[3340, 3381]",0.0,[],[],0.0,...,0,NaN,439,471,0.482418,0,0,NaN,0.469749,0.422774

In [79]:
TeamRundown.columns

Index(['TeamID', 'Season', 'Wins', 'Losses', 'OpponentsBeaten',
       'OpponentsLost', 'ConfWins', 'ConfOpponentsBeaten', 'ConfOpponentsLost',
       'ConfLosses', 'Win_PCT', 'Conference', 'Opp_wins', 'Opp_losses',
       'Opp_win_pct', 'ConfOpp_wins', 'ConfOpp_losses', 'ConfOpp_win_pct',
       'Opp_Opp_wins', 'Opp_Opp_losses', 'Opp_Opp_win_pct', 'ConfOpp_Opp_wins',
       'ConfOpp_Opp_losses', 'ConfOpp_Opp_win_pct', 'SOS', 'ConfSOS'],
      dtype='object')

In [80]:
TR = TeamRundown[['TeamID', 'Season', 'Wins', 'Losses', 'Conference','SOS', 'ConfWins', 'ConfLosses', 'ConfSOS']]

In [81]:
print(TR.shape, SA.shape, ST.shape)

(12857, 9) (12857, 22) (12857, 18)

### Time to merge Our 3 dfs containg team season stats

In [82]:
temp1 = pd.merge(TR, SA, 'left', on = ['TeamID', 'Season'])

In [83]:
Teams = pd.merge(temp1, ST, 'left', on = ['TeamID', 'Season'])

In [84]:
Teams.shape

(12857, 45)

In [85]:
Teams.to_csv('Data\\TeamInfo.csv', index=False)