# Putting it all TOgether
Here i'll combine the regression (Round reached) results with the head to head classification results.

The goal is to disincentivize eliminating a team early that has a chance to make a deep run.

In [2]:
import os
import pandas as pd
import numpy as np
import sklearn
import random

In [3]:
os.chdir('C:\\Users\\Nick\\Python Projects\\2024 March Madness\\MMML')

In [24]:
MenH2H = pd.read_csv('Data\\PredsMH2HNeat.csv')
MenH2HFull = pd.read_csv('Data\\PredsMH2HFull.csv')[['T1_TeamID', 'T2_TeamID', 'Pred']]

MenReg = pd.read_csv('Data\\PredsMRound.csv')[['TeamID', 'Pred']]

WomenH2H = pd.read_csv('Data\\PredsWH2HNeat.csv')

In [25]:
MenH2HFull

      T1_TeamID  T2_TeamID      Pred
0          1163       1235  0.577233
1          1163       1228  0.696274
2          1163       1120  0.643672
3          1163       1361  0.691666
4          1163       1140  0.748162
...         ...        ...       ...
4551       1447       1443  0.218281
4552       1447       1255  0.209544
4553       1447       1160  0.033225
4554       1447       1286  0.341469
4555       1447       1438  0.038163

[4556 rows x 3 columns]

In [26]:
MenRegT1 = MenReg.rename(columns = {'TeamID':'T1_TeamID', 'Pred':'T1_RR'})
MenRegT2 = MenReg.rename(columns = {'TeamID':'T2_TeamID', 'Pred':'T2_RR'})

In [27]:
temp = pd.merge(MenH2HFull, MenRegT1, on = 'T1_TeamID', how = 'left')
pred_df = pd.merge(temp, MenRegT2, on = 'T2_TeamID', how = 'left')
pred_df['RR_Diff'] = pred_df['T1_RR'] - pred_df['T2_RR']

In [28]:
pred_df['new_pred'] = 0
for row in range(len(pred_df)):
    pred_df.loc[row, 'new_pred'] = max(min(pred_df['Pred'][row]+(pred_df['RR_Diff'][row]*0.02), 1), 0)
pred_df.head(50)

    T1_TeamID  T2_TeamID      Pred     T1_RR     T2_RR   RR_Diff  new_pred
0        1163       1235  0.577233  3.340166  2.727135  0.613030  0.589494
1        1163       1228  0.696274  3.340166  2.576342  0.763824  0.711551
2        1163       1120  0.643672  3.340166  2.926895  0.413271  0.651937
3        1163       1361  0.691666  3.340166  1.728323  1.611843  0.723903
4        1163       1140  0.748162  3.340166  1.831154  1.509012  0.778342
5        1163       1450  0.844493  3.340166  1.547563  1.792603  0.880345
6        1163       1194  0.810934  3.340166  1.615261  1.724905  0.845432
7        1163       1321  0.811753  3.340166  1.418772  1.921394  0.850180
8        1163       1179  0.755255  3.340166  1.401094  1.939072  0.794037
9        1163       1182  0.805443  3.340166  1.273575  2.066591  0.846774
10       1163       1412  0.877426  3.340166  1.273575  2.066591  0.918758
11       1163       1463  0.893645  3.340166  1.205605  2.134561  0.936336
12       1163       1287  0.912342  3.340166  1.055727  2.284439  0.958031
13       1163       1355  0.952174  3.340166  1.055727  2.284439  0.997863
14       1163       1391  0.960368  3.340166  1.051246  2.288919  1.000000
15       1163       1314  0.693963  3.340166  2.817336  0.522830  0.704420
16       1163       1112  0.645019  3.340166  3.176391  0.163775  0.648294
17       1163       1124  0.699936  3.340166  2.557330  0.782835  0.715593
18       1163       1104  0.715067  3.340166  2.387495  0.952670  0.734120
19       1163       1388  0.774760  3.340166  1.875486  1.464679  0.804054
20       1163       1155  0.854119  3.340166  1.613277  1.726888  0.888657
21       1163       1173  0.727516  3.340166  1.619742  1.720424  0.761924
22       1163       1280  0.768124  3.340166  1.565241  1.774925  0.803623
23       1163       1277  0.807657  3.340166  1.713496  1.626670  0.840190
24       1163       1305  0.803066  3.340166  1.490761  1.849405  0.840054
25       1163       1307  0.766257  3.340166  1.545261  1.794904  0.802155
26       1163       1213  0.763120  3.340166  1.324046  2.016120  0.803442
27       1163       1158  0.852421  3.340166  1.166590  2.173576  0.895892
28       1163       1159  0.928749  3.340166  1.055727  2.284439  0.974438
29       1163       1253  0.950101  3.340166  1.055727  2.284439  0.995789
30       1163       1224  0.982500  3.340166  1.055727  2.284439  1.000000
31       1163       1345  0.350651  3.340166  3.621861 -0.281696  0.345017
32       1163       1397  0.627951  3.340166  2.821977  0.518189  0.638315
33       1163       1166  0.741970  3.340166  2.576342  0.763824  0.757247
34       1163       1242  0.669206  3.340166  2.111838  1.228328  0.693772
35       1163       1211  0.798724  3.340166  2.048006  1.292160  0.824567
36       1163       1376  0.778685  3.340166  1.493252  1.846913  0.815623
37       1163       1400  0.852241  3.340166  1.613277  1.726888  0.886779
38       1163       1429  0.785586  3.340166  1.541288  1.798877  0.821564
39       1163       1395  0.860202  3.340166  1.538797  1.801369  0.896229
40       1163       1161  0.822632  3.340166  1.538797  1.801369  0.858660
41       1163       1332  0.865851  3.340166  1.330268  2.009898  0.906049
42       1163       1270  0.789627  3.340166  1.213383  2.126783  0.832163
43       1163       1359  0.787645  3.340166  1.106397  2.233768  0.832320
44       1163       1103  0.888295  3.340166  1.150453  2.189712  0.932090
45       1163       1389  0.952850  3.340166  1.055727  2.284439  0.998539
46       1163       1212  0.965766  3.340166  1.051246  2.288919  1.000000
47       1163       1222  0.332050  3.340166  3.531903 -0.191737  0.328215
48       1163       1266  0.760968  3.340166  2.563251  0.776915  0.776506
49       1163       1246  0.812289  3.340166  2.707980  0.632185  0.824932

In [29]:
pred_df['ID'] = ''

for row in range(len(pred_df)):
    pred_df.loc[row,'ID'] = f"2024_{pred_df['T1_TeamID'][row]}_{pred_df['T2_TeamID'][row]}"

In [33]:
predictions = pred_df[['ID', 'new_pred']]
mens_final = predictions.rename(columns = {'new_pred':'Pred'})

In [34]:
mens_final

                  ID      Pred
0     2024_1163_1235  0.589494
1     2024_1163_1228  0.711551
2     2024_1163_1120  0.651937
3     2024_1163_1361  0.723903
4     2024_1163_1140  0.778342
...              ...       ...
4551  2024_1447_1443  0.218281
4552  2024_1447_1255  0.209544
4553  2024_1447_1160  0.023434
4554  2024_1447_1286  0.341469
4555  2024_1447_1438  0.032672

[4556 rows x 2 columns]

In [37]:
final = pd.concat([mens_final, WomenH2H], ignore_index = True)[['ID', 'Pred']]
final

                  ID      Pred
0     2024_1163_1235  0.589494
1     2024_1163_1228  0.711551
2     2024_1163_1120  0.651937
3     2024_1163_1361  0.723903
4     2024_1163_1140  0.778342
...              ...       ...
9107  2024_3120_3263  0.672982
9108  2024_3120_3394  0.814397
9109  2024_3120_3357  0.781013
9110  2024_3120_3435  0.459504
9111  2024_3120_3404  0.887371

[9112 rows x 2 columns]

In [39]:
final.to_csv('Data\\final_predictions.csv', index = False)